<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2}">
<head>
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome-stars.css}">
    <script type="text/javascript" th:src="@{/jquery.barrating.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/review.css}">
</head>
<body layout:fragment="content">
<div style="width : 100%; min-height: 715px; display: flex; flex-direction: column; align-items: center; padding-bottom : 34px;">
    <div style="width : 53%; border-bottom: 1px solid #dddddd; margin-top : 25px;">
        <span style="font-size : 22px; font-weight : bold; margin-left : 28px;">코멘트</span>
        <div style="display: flex; margin-top: -27px; justify-content: flex-end; margin-bottom: 7px;">
            <button class="click-button" onclick="updateReview()" style="margin-right : 10px;">수정</button>
            <button class="click-button" onclick="saveReview()">저장</button>
            <button class="click-button" onclick="deleteReview()" style="margin-left : 10px;">삭제</button>
        </div>
    </div>
    <div style="width : 50%; margin-top : 15px;">
        <div style="display : flex; justify-content : space-between; margin-bottom : 10px;">
            <div style="display : flex; flex-direction : column; justify-content : space-evenly;">
                <div style="display : flex;">
                    <img th:if="${review.member.profileImage}" th:src="${review.member.profileImage}"
                         style="height : 23px; width : 23px; border-radius : 17px;">
                    <span th:if="${review.member.nickname}" th:text="${review.member.nickname}"
                          style="margin-left : 5px; padding : 3px;"></span>
                    <span id="writeDate" th:text="${review.dateTime}" hidden="hidden"></span>
                    <span id="nowDate" style="font-size: 12px; font-weight: 400; letter-spacing: -0.2px; color: rgb(120, 120, 120); line-height: 16px; margin-left: 4px; margin-top: 7px;"></span>
                </div>
                <div style="display : flex; flex-direction : column;">
                    <span id="title" th:text=="${info.title}" style="font-size : 16px; font-weight : bold;"></span>
                    <div style="width : 100%; margin-top : 2px; color : #868e96; margin-bottom : 10px; font-size : 13px;">
                    <span th:if="${info != null and (category == 'movie' or category == 'drama')}"
                          th:text="${info.genre}" style="margin-left : 5px;"></span>
                        <span th:if="${info != null and category == 'movie'}" th:text="${'·' + info.nations}"></span>
                        <span th:if="${info != null and (category == 'movie' or category == 'drama')}"
                              th:text="${'·' + info.viewingRating}"></span>
                        <span th:if="${info != null and category == 'book'}"
                              th:text="${'출간일 : ' + #temporals.format(info.pubdate, 'yyyy-MM-dd') + ' /'}"></span>
                        <span th:if="${info != null and category == 'book'}"
                              th:text="${'소비자 가격 : ' + #numbers.formatDecimal(info.pricestandard, 0,  'COMMA', 0, 'POINT') + '₩' }"></span>
                        <span th:if="${info != null and category == 'webtoon'}"
                              th:text="${'연재일 : ' + updateDays}"></span>
                    </div>
                </div>
            </div>
            <div style="width : 85px;">
                <img th:if="${info != null and category == 'drama'}" th:src="${'/dramaImage' + info.imageUrl}">
                <img th:if="${info != null and category != 'drama'}" th:src="${info.imageUrl}">
                <img th:if="${info == null}" src="/imgs/noimg.jpg">
            </div>
        </div>
        <form class="review-Co">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input name="reviewId" type="hidden" th:value="${review.id}">
            <input name="contentsID" type="hidden" th:value="${contentsID}">
            <input name="category" type="hidden" th:value="${category}">
            <input name="review" id="New-review" style="padding : 10px;" th:value="${review.comment}" readonly>
        </form>
        <div style="display : flex; margin-top : 28px; color : #868E96; cursor : default;">
            <span>좋아요</span>
            <span class="number" th:text="${#lists.size(review.hearts)}" style="margin-left : 5px;"></span>
            <span style="margin-left : 5px;">댓글</span>
            <span class="number" th:text="${#lists.size(review.commentList)}" style="margin-left : 5px;"></span>
        </div>
        <div style="display : flex; justify-content : space-around; margin-top : 25px;">
            <form class="click_heart" sec:authorize="isAuthenticated()" style="display: flex;">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button onclick="clickHeart(this);" style="display: flex;">
                    <input class="id" th:value="${review.id}" type="hidden">
                    <div class="heartIcon" style="display: flex;">
                        <span class="likeit" th:if="${#lists.contains(review.hearts.![member.id], memberInfo.id)}"
                              style="display: flex;">
                            <img src="/imgs/icon-like.png" style="width : 30px; height : 30px;">
                        </span>
                        <span class="no-likeit"
                              th:unless="${#lists.contains(review.hearts.![member.id], memberInfo.id)}"
                              style="display: flex;">
                            <img src="/imgs/icon-unlike.png" style="width : 30px; height : 30px;">
                        </span>
                        <span style="margin-left : 7px; margin-top : 2px;">좋아요</span>
                    </div>
                </button>
            </form>
            <button onclick="clickHeart_Unclogging();" sec:authorize="isAnonymous()" style="display: flex;">
                <img class="like" src="/imgs/icon-unlike.png" style="width : 30px; height : 30px;">
                <span style="margin-left : 7px; margin-top : 2px;">좋아요</span>
            </button>
            <button onclick="clickComment();" style="display: flex;">
                <img src="/imgs/comment.png" style="width : 30px; height : 30px;">
                <span style="margin-left : 7px; margin-top : 2px;">댓글</span>
            </button>
            <div class="dropdown">
                <button class="btn-submit" style="display : flex;">
                    <img src="/imgs/share.png" style="width : 30px; height : 30px;">
                    <span style="margin-left : 7px; margin-top : 2px;">공유</span>
                </button>
                <div class="dropdown-content" style="width : 150px; border-radius : 5px; ">
                    <div class="dropdown-list">
                        <img src="/imgs/icon-twitter.png" style="width : 30px; height : 30px; margin-left : -5px; ">
                        <a id="btnTwitter" href="javascript:shareTwitter();" style="margin-top : 3px;">트위터</a>
                    </div>
                    <div class="dropdown-list">
                        <img src="/imgs/icon-facebook.png" style="width : 30px; height : 30px;">
                        <a id="btnFacebook" href="javascript:shareFacebook();" style="margin-top : 3px;">페이스북</a>
                    </div>
                    <div class="dropdown-list">
                        <img src="/imgs/icon-kakao.png" style="width : 30px; height : 30px;">
                        <a id="btnKakao" href="javascript:shareKakao();" style="margin-top : 3px;">카카오톡</a>
                    </div>
                    <div class="dropdown-list">
                        <img src="/imgs/icon-link.png" style="width : 30px; height : 30px;">
                        <a id="btnlink" href="javascript:sharelink();" style="margin-top : 3px;">링크 복사</a>
                    </div>
                </div>
            </div>
        </div>
        <div style="width : 100%; margin-top: 25px; border-bottom: 1px solid #dddddd;"></div>
        <div th:if="${review.commentList}" th:each="comment : ${review.commentList}"
             style="display : flex; flex-direction : column; border-bottom: 1px solid #dddddd; width : 100%; padding : 10px; white-space: nowrap;">
            <div style="display : flex; justify-content: space-between; margin-bottom : 10px;">
                <div style="display : flex;">
                    <img th:if="${not #strings.isEmpty(comment.member.profileImage)}"
                         th:src="${comment.member.profileImage}"
                         style="border-radius : 60%; width : 30px; height : 30px;">
                    <span th:if="${not #strings.isEmpty(comment.member.nickname)}"
                          th:text="${comment.member.nickname}" style="margin-top : 2px; margin-left : 3px;"></span>
                    <span class="comment-writer" sec:authorize="isAuthenticated()">
                        <span th:if="${memberInfo.id == review.member.id}" th:text="작성자"
                              style="height: 17px; line-height: 17px;margin: 0;"></span>
                    </span>
                </div>
                <span th:text="${#temporals.format(comment.dateTime, 'yyyy-MM-dd')}"></span>
            </div>
            <div sec:authorize="isAuthenticated()" th:if="${memberInfo.id == review.member.id}"
                 style="display: flex;">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="Comment-Co" style="flex: 1;">
                    <form class="Comment-Co-Info">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input name="reviewId" type="hidden" th:value="${review.id}">
                        <input name="commentId" type="hidden" th:value="${comment.id}">
                        <input name="contentsID" type="hidden" th:value="${contentsID}">
                        <input name="category" type="hidden" th:value="${category}">
                        <input name="comment" id="New-comment" class="comment-input" th:value="${comment.content}" style="padding : 10px;"
                               readonly>
                    </form>
                    <div style="display: flex; justify-content: flex-end;">
                        <button class="click-button" onclick="updateComment(this)" style="margin-right : 10px;">수정</button>
                        <button class="click-button" onclick="saveComment2(this)">저장</button>
                        <button class="click-button" onclick="deleteComment(this)" style="margin-left : 10px;">삭제</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="comment" style="margin-top : 25px; margin-bottom : 100px; white-space: nowrap; display : none;">
            <div style="display : flex; flex-direction : column; border-radius : 5px; border: 1px solid #dddddd; width : 100%; padding : 10px;">
                <div style="display : flex;">
                    <img class="profile" sec:authorize="isAuthenticated()"
                         th:if="${not #strings.isEmpty(memberInfo.profileImage)}" th:src="${memberInfo.profileImage}"
                         style="border-radius : 60%; width : 30px; height : 30px;">
                    <span class="name" sec:authorize="isAuthenticated()"
                          th:if="${not #strings.isEmpty(memberInfo.nickname)}" th:text="${memberInfo.nickname}"
                          style="width : 80%;"></span>
                </div>
                <textarea id="comment"
                          style="width : 100%; height : 70px; margin-top : 10px; margin-bottom : 10px; padding : 3px;"></textarea>
                <div style="display : flex; justify-content: flex-end;">
                    <button onclick="saveComment()">
                        <input id="member_id" type="hidden" th:if="${memberInfo}" th:value="${memberInfo.id}">
                        <input id="review_id" type="hidden" th:value="${review.id}">
                        <input title="Button push orange" class="button btnPush btnOrange"
                               th:value="등록" style="letter-spacing : 0.2em; cursor : pointer;">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        var title = document.getElementById('title').innerText;
        let url = window.location.href;
        document.addEventListener('DOMContentLoaded', function() {
            const oldDateElement = document.getElementById('writeDate').textContent;
            const oldDate = new Date(oldDateElement);

            const now = new Date();
            const diff = Math.abs(now.getTime() - oldDate.getTime());
            const daysDiff = Math.ceil(diff / (1000 * 60 * 60 * 24));

            const setDate = document.getElementById('nowDate');
            if(daysDiff-1 == 0){
                setDate.textContent = '오늘';
            } else {
            setDate.textContent = daysDiff-1 + '일전';
            }
        });

        function clickHeart(button){
            var heartIcon = button.querySelector('.heartIcon');
            var innerSpan = heartIcon.querySelector('span');
            var heartClick = true;
            var form = button.closest('.click_heart');
            var gubun = "detail";
            var classList = innerSpan.classList;
            var reviewIDInput = button.querySelector('.id');
            var reviewID = reviewIDInput.value;

            if (classList.contains('likeit')) {
                heartClick = false;
            }
            if (form) {
                form.method = "POST";
                form.action = "/review/heart/" + '[[${category}]]' + "/" + '[[${contentsID}]]' +"/" + reviewID + "/" + heartClick + "/" + gubun;
                form.submit();
            } else {
                console.error("Form element is null");
            }
        }

        function clickHeart_Unclogging(){
            Swal.fire({
                    icon: 'warning',
                    title: '로그인 후 이용해주세요.',
            });
        }

        function clickComment() {
            var commentDiv = document.querySelector('.comment');
            var currentDisplay = window.getComputedStyle(commentDiv).getPropertyValue('display');

            if (currentDisplay === 'none') {
                commentDiv.style.display = 'flex';
            } else {
                commentDiv.style.display = 'none';
            }
        }

        function updateReview() {
            document.getElementById("New-review").removeAttribute("readonly");
            document.getElementById("New-review").focus();
        }

        function saveReview(){
            var form = document.querySelector('.review-Co');
            if(confirm("코멘트를 수정하시겠습니까?")){
                form.method = "POST";
                form.action = "/review/update";
                form.submit();
            }
        }

        function deleteReview(){
            var form = document.querySelector('.review-Co');
            if(confirm("코멘트를 삭제하시겠습니까?")){
                form.method = "POST";
                form.action = "/review/delete";
                form.submit();
            }
        }

        function updateComment(button) {
            var commentCo = button.closest('.Comment-Co');
            var newCommentInput = commentCo.querySelector('.comment-input');
            newCommentInput.removeAttribute("readonly");
            newCommentInput.focus();
        }

        function saveComment2(button) {
            var commentCo = button.closest('.Comment-Co');
            var form = commentCo.querySelector('.Comment-Co-Info');

            if (confirm("댓글을 수정하시겠습니까?")) {
                form.method = "POST";
                form.action = "/comment/update";
                form.submit();
            }
        }

        function deleteComment(button){
            var commentCo = button.closest('.Comment-Co');
            var form = commentCo.querySelector('.Comment-Co-Info');

            if(confirm("댓글을 삭제하시겠습니까?")){
                form.method = "POST";
                form.action = "/comment/delete";
                form.submit();
            }
        }

        function shareTwitter() {
            var sendText = title + " 리뷰";
            window.open("https://twitter.com/intent/tweet?text=" + sendText + "&url=" + url);
        }

        function shareFacebook() {
            window.open("http://www.facebook.com/sharer/sharer.php?u=" + url);
        }

        function shareKakao() {
          Kakao.init('1f6119cdfa6fe0122000dfaa0c837e0e');

          Kakao.Link.createDefaultButton({
            container: '#btnKakao', // 카카오공유버튼ID
            objectType: 'feed',
            content: {
              title: '"' + title + '"' + " 리뷰",
              description: "MOVIE&BOOK",
              imageUrl: window.location.href, // 콘텐츠 URL
              link: {
                 mobileWebUrl: window.location.href,
                 webUrl: window.location.href
              }
            }
          });
        }

        function sharelink(){
          navigator.clipboard.writeText(url).then(res=>{
            const Toast = Swal.mixin({
                    toast: true,
                    position: 'center-center',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

            Toast.fire({
                icon: 'success',
                title: '텍스트가 복사되었습니다!'
            })
          })
        }


        $().ready(function () {
            $("#toastStart").click(function () {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'center-center',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: 'toast 알림이 정상적으로 실행 되었습니다.'
                })
            });
        });

        function saveComment() {
            var reviewID = document.getElementById('review_id').value;
            if(document.getElementById('member_id') == null){
                Swal.fire({
                        icon: 'warning',
                        title: '로그인 후 이용해주세요.',
                    });
                return false;
            }

            var memberID = document.getElementById('member_id').value;
            var comment = document.getElementById('comment').value;

            $.ajax({
                url: "/comment/save",
                type: "GET",
                data: {
                    category: '[[${category}]]',
                    contentsId: '[[${contentsID}]]',
                    reviewId: reviewID,
                    memberId: memberID,
                    comment: comment
                },
                success: function (data) {
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error("Error saving comment: " + error);
                }
            });
        }

    </script>
</div>
</body>
</html>