<html layout:decorate="~{layout2}">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/book/bookMainPage.css">
</head>
<body layout:fragment="content">
<div class="swiper-1">
    <div style="width : 1340px; margin : auto;">
        <div class="swiper mySwiper" style="margin-top: 10px; margin-bottom: 55px; width: 95%;" th:each="bookListList, indexNum : ${allList}">
            <div style="display : flex; flex-direction: column-reverse; padding:5px">
                <div class="swiper-pagination swiper-pagination"
                     style="position:relative; margin-top:5px; display:flex; flex-direction:row; justify-content:flex-end;">
                </div>
                <div>
                    <span th:if="${indexNum.index} == 0"
                          style="color : #000000; font-size : 20px; font-weight : bold; margin-left: 6%">베스트 셀러</span>
                    <span th:if="${indexNum.index} == 1"
                          style="color : #000000; font-size : 20px; font-weight : bold; margin-left: 6%">주목할 만한 신간</span>
                    <span th:if="${indexNum.index} == 2"
                          style="color : #000000; font-size : 20px; font-weight : bold; margin-left: 6%">무비부비 추천 TOP 10</span>
                </div>
            </div>
            <div class="swiper-wrapper" style="position: relative;">
                <div class="swiper-slide"
                     style="display:flex; font-size: 18px; position: relative; align-items: center; height : 100%; z-index : 1;"
                     th:each="bookList : ${bookListList}">
                    <form style="display : grid; margin-left:15px;"
                          th:action="@{/book/detail}" method="get" th:each="book : ${bookList}">
                        <button>
                            <div class="img" style="padding : 5px; width: 213px; height: 305px; display: flex;
                        justify-content: center; align-items: center; border: solid 1px;">
                                <div class="rank" th:if="${indexNum.index} == 0" th:text="${book.getBestRank}">
                                </div>
                                <div class="rank" th:if="${indexNum.index} == 1" th:text="신간"
                                     style="font-size: 16px; letter-spacing: 2px;">
                                </div>
                                <img th:src="${book.getImageUrl}" style="max-height: 100%;">
                            </div>
                            <div class="short-info" th:data-id="${book.id}" th:onmouseenter="'onTitle(this, ' + ${book.id} + ')'" th:onmouseleave="'leaveTitle(' + ${book.id} + ')'" style="display : flex; flex-direction: column; align-items: flex-start;
                        margin-left : 5px; padding-top: 16px;">
                                <form class="title-co" >
                                    <input class="title"
                                           th:value="${#strings.length(book.title) > 15 ? #strings.substring(book.title, 0, 15) + '..' : book.title}"
                                           style="font-size : 17px;" readonly>
                                    <input class="title2"  th:value="${book.title}" hidden="hidden">
                                </form>
                                <div class="short-kind">
                                    <span style="color : #868e96; font-size : 15px;">출간일</span>
                                    <span th:text="${#temporals.format(book.Pubdate, 'yyyy.MM.dd')}" style="color: #868e96; font-size: 15px;"></span>
                                </div>
                            </div>
                            <input type="hidden" name="isbn" th:value="${book.getIsbn}">
                        </button>
                    </form>
                </div>
            </div>
            <div class="swiper-button-next" style="color : #3b3ff6;"></div>
            <div class="swiper-button-prev" style="color : #3b3ff6;"></div>
        </div>
    </div>
    <div id="mv-text-box">

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>

    function leaveTitle(id) {
        const mvText = document.querySelector('#mv-text-' + id);
        mvText.style.opacity = 0;
    }
    function onTitle(el, id) {

        const titleInput = el.querySelector('.title');
        const titleInput2 = el.querySelector('.title2');
        let element2 = document.querySelector('body');
        let elementTop2 = window.pageYOffset + element2.getBoundingClientRect().top;

        let mvText = document.querySelector('#mv-text-' + id);

        if(mvText == null || mvText == undefined) {
            const dinamicMvText = document.createElement('div');
            dinamicMvText.innerText = titleInput2.value;
            dinamicMvText.classList.add('mv-text');
            dinamicMvText.setAttribute('id', 'mv-text-' + id);

            dinamicMvText.style.top = window.pageYOffset + titleInput.getBoundingClientRect().top + 'px';
            dinamicMvText.style.left = window.pageXOffset + titleInput.getBoundingClientRect().left + 'px';

            console.log (dinamicMvText.style.left);
            document.querySelector('#mv-text-box').appendChild(dinamicMvText);
            mvText = dinamicMvText;
        }
        mvText.style.opacity = '1';
    }

    function handleResize() {
        const box = document.querySelector("#mv-text-box");
        box.innerHTML="";

        const infoList = document.querySelectorAll(".short-info");
        infoList.forEach((info) => {
            info.addEventListener('mouseenter', (e) => {
                const id = e.target.dataset.id
                onTitle(e.target, id);
            });
        });

        infoList.forEach((info) => {
            info.addEventListener('mouseleave', (e) => {
                const id = e.target.dataset.id
                leaveTitle(id);
            });
        });
    }

    window.addEventListener('resize', handleResize);

    handleResize();

    var swiper = new Swiper(".mySwiper", {
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
</script>
</body>
</html>