<html lang="ko" layout:decorate="~{/customerSupport/customerSupportLayout}">
<div layout:fragment="CScontent" class="menuDetail" id="notice" style="padding: 40px 40px 0px 50px;">
    <div style="width: 100%;">
        <div style="display: flex; height: 2.5rem; width: 40%; margin-left: 10%;">
            <input type="text" placeholder="제목, 내용 검색" class="input input-bordered w-full"
                   style="border-top-right-radius: 0; border-bottom-right-radius: 0;height: 2.5rem;"/>
            <button class="searchButton" style="height: 100%; padding: 5px; border-top-right-radius: 0.5rem; border-bottom-right-radius: 0.5rem;">
                <img src="/imgs/돋보기.jpg" alt="" style="height: 100%;">
            </button>
        </div>
    </div>
    <div style="display: flex; justify-content: center; width: 100%; margin-top: 3rem">
        <table style="width: 80%;">
            <thead>
            <tr style="background: cyan; border-bottom: blue solid 2px;">
                <th class="noticeBoard" style="width: 10%">번호</th>
                <th class="noticeBoard" style="width: 40%">제목</th>
                <th class="noticeBoard">작성일</th>
                <th class="noticeBoard">조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr style="border-bottom: gray solid 1px;">
                <th class="noticeBoard" style="width: 10%">번호</th>
                <th class="noticeBoard" style="width: 40%">제목</th>
                <th class="noticeBoard">작성일</th>
                <th class="noticeBoard">조회수</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>