<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout2}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/customerSupport/CSlayout.css">
</head>
<div layout:fragment="content" style="height: 100%; width: 100%; min-height: 100vh;">
    <div style="display: flex; min-height: 100vh;">
        <div class="layout">
            <ul class="menu menu-lg bg-#e5e7eb rounded-box">
                <li class="menu-title" style="text-align: center; font-size: large;">고객지원</li>
                <li><a class="menuTab" type="notice" th:href="@{/customerSupport/notice}">공지사항</a></li>
                <li><a class="menuTab" type="FAQ" th:href="@{/customerSupport/FAQ}">자주 묻는 질문</a></li>
                <li><a class="menuTab" type="question" th:href="@{/customerSupport/question}">문의사항</a></li>
                <li><a class="menuTab" type="myQuestion" th:href="@{/customerSupport/myQuestion}">내 질문</a></li>
            </ul>
        </div>
        <div style="height: 100%; width:85%;">
            <th:block layout:fragment="CScontent"></th:block>
        </div>
    </div>
    <script>
        var target = document.querySelector('.menuDetail');
        var targetId = target.id;

        var menuTabs = document.querySelectorAll('.menuTab');

        menuTabs.forEach(function(element) {
        if (element.type === targetId) {
            element.style.backgroundColor = "green";
        }
    });
    </script>
</div>
</html>

