<html lang="ko" layout:decorate="~{/customerSupport/customerSupportLayout}">
<div layout:fragment="CScontent" class="menuDetail" id="oneOnOne" style="padding: 40px 40px 0px 50px;">
    <div style="display: flex; justify-content: center; width: 100%; margin-top: 5.5rem">
        <table style="width: 80%;">
            <thead>
            <tr style="background: cyan; border-bottom: blue solid 2px;">
                <th class="noticeBoard" style="width: 10%">번호</th>
                <th class="noticeBoard" style="width: 40%">제목</th>
                <th class="noticeBoard">작성일</th>
                <th class="noticeBoard">조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr style="border-bottom: gray solid 1px;">
                <th class="noticeBoard" style="width: 10%">번호</th>
                <th class="noticeBoard" style="width: 40%">제목</th>
                <th class="noticeBoard">작성일</th>
                <th class="noticeBoard">조회수</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>