<html lang="ko" layout:decorate="~{/customerSupport/customerSupportLayout}">
<div layout:fragment="CScontent" class="menuDetail" id="myQuestion">
    <div class="contentList" style="margin-top: 5.5rem">
        <table style="width: 80%;">
            <thead>
            <tr class="textList">
                <th class="noticeBoard" style="width: 10%">번호</th>
                <th class="noticeBoard" style="width: 40%">제목</th>
                <th class="noticeBoard">작성일</th>
                <th class="noticeBoard">조회수</th>
            </tr>
            </thead>
            <tbody style="border-bottom: gray solid 1px;">
            <tr th:each="myQuestion : ${paging}">
                <th class="noticeBoard" style="width: 10%" th:text="${myQuestion.id}"></th>
                <th class="noticeBoard" style="width: 40%">
                    <form th:action="@{/customerSupport/question/detail}" method="get">
                        <input class="questionList" type="submit" th:value="${myQuestion.title}">
                        <input type="hidden" name="questionId" th:value="${myQuestion.id}">
                    </form>
                </th>
                <th class="noticeBoard" th:text="${myQuestion.writeDate}"></th>
                <th class="noticeBoard">조회수</th>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="join" th:if="${paging.totalPages > 0}" style="display : flex; justify-content : space-around; margin-top : 18px;">
        <ul class="pagination justify-content-center" style="display : flex;">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'btn-disabled'">
                <a class="join-item btn" th:if="${paging.hasPrevious}" th:href="@{|?page=${paging.number-1}|}">
                    <span>«</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(paging.number, paging.number)}"
                th:if="${page >= paging.number and page <= paging.number}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item btn-disabled">
                <span th:text="${'Page ' + (page + 1)}" class="join-item btn" th:href="@{|?page=${page}|}"></span>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'btn-disabled'">
                <a class="join-item btn" th:if="${paging.hasNext}" th:href="@{|?page=${paging.number+1}|}">
                    <span>»</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</html>