@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.logo{
    font-family : 'SDSamliphopangche_Outline';
}
a {
    text-decoration : none;
}
body {
    margin : 0;
    padding : 0;
    font-family : 'SUITE-Regular',cursive;
    background : black;
}

.layout-co{
    display : flex;
    flex-direction: column;
    align-items : center;
    padding: 1%;
}
.layout{
    border-bottom: 1.5px solid #FFF;
    width : 75%;
    white-space: nowrap;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
}
.category{
    color : white;
    display : block;
    position : relative;
    height : 40px;
    line-height : 40px;
    padding : 0 24px;
    font-size : 17px;
    letter-spacing : 0.1em;
    white-space : nowrap;
    text-align : center;
}

.category_bar{
    color : white;
    display : block;
    position : relative;
    height : 40px;
    line-height : 40px;
    padding : 0 24px;
    font-size : 17px;
    font-weight : bold;
    letter-spacing : 0.1em;
    white-space : nowrap;
}
.category:after {
    display:block;
    width:70px;
    content: '';/*comtent안은 밑줄 디자인을 위해 비워두세요.*/
    border-bottom: solid 2px red;
    transform: scaleX(0);/*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
    transition: transform 250ms ease-in-out; /*변형 방식*/
}
.category:hover:after {
    transform: scaleX(1);/*a 속성에 hover시 after를 기존 크기로 변경*/
}

.myModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.modalVideo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.closePosition {
    display: flex;
    width: 65%;
    flex-direction: row-reverse;
}

.loginLink {
    color: #FFF;
    padding-right: 6px;
}

.dropdown-list:hover {
    background-color: #cacaca;
}
.dropdown-content {
    border-radius : 10px;
    margin-left: -30px;
    z-index: 100;
    background: white;
    padding: 10px;
    font-weight: bold;
}

.dropdown-list {
    display : flex;
    padding : 5px;
    justify-content : space-around;
    border-radius : 10px;
    box-sizing : border-box;
    align-items : center;
    cursor : pointer;
}

#enter-form {
    display: none;
    position: fixed;
    bottom: 92px;
    right: 46px;
    padding: 10px;
    width: 318px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
	background: #fbd7ed;
	border-radius: .4em;
}

.chatImg {
    animation: bounce 1s infinite;
  }

@keyframes bounce {
  0% {
    top: 40px;
      animation-timing-function: ease-in;
    }
    50% {
    top: 120px;
      height: 40px;
    animation-timing-function: ease-out;
    }
    55% {
    top: 150px; height: 25px;
      animation-timing-function: ease-in;
  }
    65% {
    top: 120px; height: 40px;
      animation-timing-function: ease-out;
  }
    95% {
      top: 40px;
      animation-timing-function: ease-in;
    }
    100% {
    top: 40px;
      animation-timing-function: ease-in;
    }
}
@keyframes shadow {
  0% {
    transform: scale(0.1);
    background-color: rgba(0, 0, 0, 0.1);
    animation-timing-function: ease-in;
    }
  50% {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.2);
    animation-timing-function: ease-out;
  }
  55% {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.2);
    animation-timing-function: ease-in;
  }
  65% {
    transform: scale(0.5);
    background-color: rgba(0, 0, 0, 0.15);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.1);
    background-color: rgba(0, 0, 0, 0.1);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(0.1);
    background-color: rgba(0, 0, 0, 0.1);
    animation-timing-function: ease-in;
  }
}