<!DOCTYPE html>
<html lang="en" layout:decorate="~{/member/my_page_layout}" class="profileContents" id="changepw">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="profileContent" class="menudetail" id="change_pw" style="width: 85%; height: 100%">

    <div class="passwordch" style="margin-left: 50px; margin-top: 60px;">
        <form th:action="@{/member/changePw}" method="post" th:object="${passwordChangeForm}">
            <div role="alert" th:if="${#fields.hasAnyErrors()}">
                <div th:replace="~{form_errors :: formErrorsFragment}"></div>
            </div>
            <label class="form-control">
                <div class="label">
                    <span class="label-text" style="font-size: large; font-weight: bold;">현재 비밀번호</span>
                </div>
                <input type="password" placeholder="현재 비밀번호를 입력해주세요." id="oldPassword" th:field="*{oldPassword}"
                       style="height: 70px; width: 80%; margin-bottom: 30px;" name="oldPassword" class="input input-bordered"/>
            </label>


            <label class="form-control">
                <div class="label">
                    <span class="label-text" style="font-size: large; font-weight: bold;">변경할 비밀번호</span>
                </div>
                <input type="password" placeholder="변경할 비밀번호를 입력해주세요." id="password" th:field="*{password}"
                       style="height: 70px; width: 80%; margin-bottom: 30px;" name="password" class="input input-bordered"/>
            </label>


            <label class="form-control">
                <div class="label">
                    <span class="label-text" style="font-size: large; font-weight: bold;">변경할 비밀번호 확인</span>
                </div>
                <input type="password" placeholder="변경할 비밀번호를 다시 입력해주세요." id="passwordConfirm"
                       th:field="*{passwordConfirm}"
                       style="height: 70px; width: 80%; margin-bottom: 30px;" name="passwordConfirm" class="input input-bordered"/>
            </label>
            <input type="button" class="input input-bordered" th:value="비밀번호변경" style="background: #D2E1FF; margin-top: 25px; margin-left: 74%;" onclick="changepw(this)">

        </form>
        <a th:href="@{/member/mypage}">
            <input type="button" class="input input-bordered" th:value="취소" style="background: #D2E1FF; margin-top: 10px; margin-left: 74%; width: 118px;">
        </a>
    </div>

    <script>
        function changepw(input) {
            if (confirm("비밀번호를 변경하시겠습니까?")) {
                input.form.submit();
            }
        }
    </script>
</div>
</body>
</html>