<!DOCTYPE html>
<html lang="en" layout:decorate="~{/member/my_page_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="profileContent" style="width: 85%; height: 100%">

    <div class="updatenm" style="margin: 280px 0px 0px 740px;}">
        <form th:action="@{/member/changeInformation}" method="post" th:object="${nicknameForm}" style="margin-left: -685px; margin-top: -210px;">
            <div role="alert" th:if="${#fields.hasAnyErrors()}">
                <div th:replace="~{form_errors :: formErrorsFragment}"></div>
            </div>
            <label class="form-control" style="margin-bottom: 30px;">
                <span class="label-text" style="font-size: large; font-weight: bold;">현재 닉네임</span>
                <input type="text" th:placeholder="${member.getNickname()}" class="input input-bordered" disabled />
            </label>
            <label class="form-control" style="margin-bottom: 30px;">
                <div class="label">
                    <span class="label-text"  style="font-size: large; font-weight: bold;">변경할 닉네임</span>
                </div>
                <input type="nickname" placeholder="변경할 닉네임을 입력해주세요." id="newNickname" th:field="*{newNickname}"
                       style="height: 70px; width: 80%; margin-bottom: 30px;" name="newNickname"
                       class="input input-bordered"/>
            </label>
            <input type="button" class="input input-bordered" th:value="변경하기" style="background: #D2E1FF; margin-left: 74%; width: 110px;" onclick="updatenm(this)">
        </form>
        <a th:href="@{/member/mypage}">
            <input type="button" class="input input-bordered" th:value="취소" style="background: #D2E1FF; margin-top: 10px; margin-left: 57%; width: 110px;">
        </a>
        <script>
            function updatenm(input) {
                if (confirm("회원 정보를 변경하시겠습니까?")) {
                    input.form.submit();
                }
            }
        </script>
    </div>
</div>
</body>
</html>