<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2}">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <!-- 여기에 CSS 링크 또는 스타일을 추가할 수 있습니다. -->
</head>
<body layout:fragment="content">
<div style="display: flex; justify-content: center; align-items: flex-start;  height: 65vh; margin-top: 10%;">
    <div style="border:2px solid black; padding: 50px; border-radius: 10px;">
        <form th:action="@{/member/login}" method="post" style="display: flex; flex-direction: column; align-items: center;">
            <input type="hidden" name="referer" th:value="${referer}">
            <div th:if="${param.error}" class="alert alert-danger">
                사용자ID 또는 비밀번호를 확인해 주세요.
            </div>
            <div class="form-group">
                <label for="username">사용자ID</label>
                <input type="text" name="username" id="username" class="form-control"
                       style="padding: 8px; border:2px solid black" required>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" name="password" id="password" class="form-control"
                       style="padding: 8px; border:2px solid black" required>
            </div>
            <div class="loginButton">
                <button type="submit" style="background: red; width: 210px; height: 35px;">로그인</button>
                <a th:href="@{/member/signup}" style="background: red; width: 210px; height: 35px;">회원가입</a>
            </div>
            <div class="form-group" style="padding:10px; display: flex; align-items: center;">
                <a th:href="@{/member/findUsername}">아이디 찾기</a>
                <div style="border-right: 1px solid black; height: 20px; margin: 0 10px; display: inline-block; vertical-align: middle;"></div>
                <a th:href="@{/member/resetPassword}">비밀번호 찾기</a>
            </div>
        </form>
        <div style="display:flex;">
            <a th:href="@{/member/login/google}">
                <img src="/loginButton/btn_google.svg" alt="Google 로그인" style="width:100px; height:50px;">
            </a>
            <a th:href="@{/member/login/kakao}">
                <img src="/loginButton/btn_kakao.svg" alt="Kakao 로그인" style="width:100px; height:50px;">
            </a>
            <a th:href="@{/member/login/naver}">
                <img src="/loginButton/btn_naver.svg" alt="Naver 로그인" style="width:100px; height:50px;">
            </a>
        </div>
    </div>
</div>
</body>
</html>
