<!DOCTYPE html>
<html lang="en" layout:decorate="~{/member/my_page_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="profileContent" style="width: 85%; height: 100%">
    <span style="font-weight: bold; font-size: 25px;">구매 내역</span>

    <div>
        <span>영화 구매 내역</span>
        <div th:each="payment : ${PaymentList}">
            <div th:if="${payment.movie}" th:action="@{/movie/detail}">
                <span th:text="${payment.movie.title}"></span>
                <img th:src="${payment.movie.imageUrl}">
            </div>
        </div>
    </div>

    <div>
        <span>드라마 구매 내역</span>
        <div th:each="payment : ${PaymentList}">
            <div th:if="${payment.drama}">
                <span th:text="${payment.drama.title}"></span>
                <img th:src="${'/dramaImage' + payment.drama.imageUrl}">
            </div>
        </div>
    </div>



    <div>
        <span>책 구매 내역</span>
        <div th:each="payment : ${PaymentList}">
            <div th:if="${payment.book}">
                <span th:text="${payment.book.title}"></span>
                <img th:src="${payment.book.imageUrl}">
            </div>
        </div>
    </div>




    <div>
        <span>웹툰 구매 내역</span>
        <div th:each="payment : ${PaymentList}">
            <div th:if="${payment.webtoon}">
                <span th:text="${payment.webtoon.title}"></span>
                <img th:src="${payment.webtoon.imageUrl}">
            </div>
        </div>
    </div>
    <script>
    </script>
</div>
</body>
</html>