
<html layout:decorate="~{/member/my_page_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="profileContent" style="width: 85%; height: 1110px">

    <div style="margin-top: 60px; text-align: center">

            <img id="img" th:src="${member.getProfileImage()}" style="width: 530px; height: 400px; margin-left: 500px">


        <div class="info" style="font-size: 20px; margin-top: 60px; margin-left: -325px;">
            <div style="margin-bottom: 5px;">
                <span style="color : #868e96;">아이디 :</span>
                <span th:text="${member.getUsername()}" style="color : #868e96;"></span>
            </div>
            <div style="margin-bottom: 5px;">
                <span style="color : #868e96;">닉네임 :</span>
                <span th:text="${member.getNickname()}" style="color : #868e96;"></span>
            </div>
            <div style="margin-bottom: 5px;">
                <span style="color : #868e96;">이메일 :</span>
                <span th:text="${member.getEmail()}" style="color : #868e96;"></span>
            </div>
        </div>

    </div>



</div>
</body>
</html>