<html lang="en" layout:decorate="~{layout2}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/member/my_page.css}">
    <script>
        var target = document.querySelector('.menudetail');
        var targetId = target.id;

        var menuTabs = document.querySelectorAll('.menu-item');

        menuTabs.forEach(function(element) {
            if (element.type === targetId) {
                element.style.backgroundColor = "green";
            }
        });
    </script>
</head>
<body>
<div layout:fragment="content" style="display : flex; width: 100%;">
    <div class="profileMenu"
         style="width : 15%; background: #D2E1FF; height: 100vh; min-height: 1100px; min-width: 310px;">
        <div style="margin-top: 23px;">
            <div>
                 <span class="s_name" name="s_name" sec:authorize="isAuthenticated()"
                       th:if="${member != null}"
                       th:text="${#strings.concat(member.getNickname(), ' 님 무비부비에 오신것을 환영합니다')}"
                       style="font-size : large; margin-left: 8px;"></span>
                <div style="display : flex; font-weight : bold; border-bottom : 2px solid black; margin-top: 15px;">
                    <img src="/etc/coin.png" style="height : 20px; margin-top : 1px; margin-right : 1px;">
                    <span style="margin-right : 3px;  color: black;">보유 코인 : </span>
                    <span th:text="${#numbers.formatDecimal(sum, 0,  'COMMA', 0, 'POINT')}"
                          style="width : 95px; text-align : center;  color: black;"></span>
                    <a class="layoutLink" href="/payment" style="display: flex; align-items: center;  color: black;">
                        <div style="margin-right: 4px; width: 19px;">
                        </div>
                        코인충전
                    </a>
                    <img src="/etc/coin.png" style="height: 18px; margin-right: 4px;">
                </div>
            </div>
            <ul class="menu rounded-box">
                <li><a class="menu-item" type="my_age" th:href="@{/member/mypage}">내 정보</a></li>
                <li><a class="menu-item" type="change_information" th:href="@{/member/changeInformation}" >회원 정보 수정</a></li>
                <li><a class="menu-item" type="change_pw" th:href="@{/member/changePw}" >비밀번호 변경</a></li>
                <li>
                    <details close>
                        <summary style="margin-left: 7px;" class="menu-item">구매 내역</summary>
                        <ul>
                            <li><a class="menu-item" type="purchasedetails_movie" th:href="@{/member/purchasedetails/movie}">영화 구매 내역</a></li>
                            <li><a class="menu-item" type="purchasedetails_drama" th:href="@{/member/purchasedetails/drama}">드라마 구매 내역</a></li>
                            <li><a class="menu-item" type="purchasedetails_book" th:href="@{/member/purchasedetails/book}">책 구매 내역</a></li>
                            <li><a class="menu-item" type="purchasedetails_webtoon" th:href="@{/member/purchasedetails/webtoon}">웹툰 구매 내역</a></li>

                        </ul>
                    </details>
                </li>
                <li><a class="menu-item" type="delete_form" th:href="@{/member/deleteForm}">회원 탈퇴</a></li>
            </ul>
        </div>
    </div>
    <th:block layout:fragment="profileContent" style="width : 85%; height : 100%;"></th:block>
</div>
</body>
</html>