<html layout:decorate="~{member/my_page_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="profileContent" class="menudetail" id="mypage" style="width: 85%; height: 100vh; min-height: 1100px;">

    <div style="display: flex; margin-top: 60px; flex-direction: column; align-items: center;">
        <div style="min-height: 400px; min-width: 400px; width: 30%; height: 30%; display: flex; flex-direction: column; justify-content: center;">
            <img style="max-width: 70%; margin-left: 170px;" id="img" th:src="${member.getProfileImage()}">
        </div>
        <div class="info" style="font-size: 20px; margin-top: -400px; margin-right: 750px;">
            <div style="margin-bottom: 5px;">
                <span style="color : #868e96;">아이디 :</span>
                <span th:text="${member.getUsername()}" style="color : #868e96;"></span>
            </div>
            <div style="margin-bottom: 5px;">
                <span style="color : #868e96;">닉네임 :</span>
                <span th:text="${member.getNickname()}" style="color : #868e96;"></span>
            </div>
            <div style="margin-bottom: 5px;">
                <span style="color : #868e96;">이메일 :</span>
                <span th:text="${member.getEmail()}" style="color : #868e96;"></span>
            </div>
            <div>
                <p th:text="${member.getNickname() + '님의'}"></p>
                <p th:text="${type}"></p>
                <p th:if="${reviewCount ==null}" th:text="${'('+ paging.getTotalElements+')'}"></p>
                <p th:if="${reviewCount !=null}" th:text="${'('+ reviewCount+')'}"></p>
            </div>
        </div>
    </div>

</div>
</body>
</html>