<html lang="en" layout:decorate="~{layout2}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/member/my_page.css">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var parameter = [[${parameter}]];

            document.querySelectorAll('.menu-item').forEach(item => {
                item.classList.remove('clicked');
            });

            if (parameter == '1') {
                document.querySelector('.menu-item:nth-child(2)').classList.add('clicked');
            } else if (parameter == '2') {
                document.querySelector('.menu-item:nth-child(3)').classList.add('clicked');
            }else if (parameter == '3') {
                document.querySelector('.menu-item:nth-child(4)').classList.add('clicked');
            }else if (parameter == '4') {
                document.querySelector('.menu-item:nth-child(5)').classList.add('clicked');
            } else {
                document.querySelector('.menu-item:nth-child(1)').classList.add('clicked');
            }

        });
    </script>
</head>
<body>
<div layout:fragment="content" style="display : flex; width: 100%;">
    <div class="profileMenu"
         style="width : 15%; background: #D2E1FF; height: 100vh; min-height: 1100px; min-width: 310px;">
        <div style="margin-top: 23px;">
            <div>
                 <span class="s_name" name="s_name" sec:authorize="isAuthenticated()"
                       th:if="${member != null}"
                       th:text="${#strings.concat(member.getNickname(), ' 님 무비부비에 오신것을 환영합니다')}"
                       style="font-size : large; margin-left: 8px;"></span>
                <div style="display : flex; font-weight : bold; border-bottom : 2px solid black; margin-top: 15px;">
                    <img src="/etc/coin.png" style="height : 20px; margin-top : 1px; margin-right : 1px;">
                    <span style="margin-right : 3px;  color: white;">보유 코인 : </span>
                    <span th:text="${#numbers.formatDecimal(sum, 0,  'COMMA', 0, 'POINT')}"
                          style="width : 95px; text-align : center;  color: white;"></span>
                    <a class="layoutLink" href="/payment" style="display: flex; align-items: center;  color: white;">
                        <div style="margin-right: 4px; width: 19px;">
                        </div>
                        코인충전
                    </a>
                    <img src="/etc/coin.png" style="height: 18px; margin-right: 4px;">
                </div>
            </div>
            <ul class="menu">
                <a class="menu-item" th:href="@{/member/mypage}" onclick="clickMenu(event, this)">내 정보</a>
                <a class="menu-item" th:href="@{/member/changeInformation(parameter='1')}" onclick="clickMenu(event, this)">회원 정보 수정</a>
                <a class="menu-item" th:href="@{/member/changePw(parameter='2')}" onclick="clickMenu(event, this)">비밀번호 변경</a>
                <a class="menu-item" th:href="@{/member/purchasedetails(parameter='3')}" onclick="clickMenu(event, this)">구매 내역</a>
                <a class="menu-item" th:href="@{/member/deleteForm(parameter='4')}" onclick="clickMenu(event, this)">회원 탈퇴</a>
            </ul>
        </div>
    </div>
    <th:block layout:fragment="profileContent" style="width : 85%; height : 100%;"></th:block>
</div>
</body>
</html>