<html layout:decorate="~{/member/contents_purchase_details/member_purchase_details}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="purchasedetails" style="width: 85%; height: 100%" class="profileContent" id="purchasedetails">

    <div>
        <span>책 구매 내역</span>
        <form th:each="payment : ${PaymentList}" th:action="@{/book/detail}"method="get">
            <button>
                <div th:if="${payment.book}">
                    <span th:text="${payment.book.title}"></span>
                    <img th:src="${payment.book.imageUrl}">
                    <input th:value="${payment.book.isbn}" name="isbn" type="hidden">
                </div>
            </button>
        </form>
    </div>

</div>
</body>
</html>