<html layout:decorate="~{/member/my_page_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="profileContent" style="width: 85%; height: 100%">
    <span style="font-weight: bold; font-size: 25px;">구매 내역</span>

    <div>
        <div>
            <div>
                <li><a class="profileContents" type="moviepurchasedetails" th:href="@{/member/purchasedetails/total}">구매 내역</a></li>
            </div>

            <div>
                <li><a class="profileContents" type="moviepurchasedetails" th:href="@{/member/purchasedetails/movie}">영화
                    구매
                    내역</a></li>
            </div>

            <div>
                <li><a class="profileContents" type="moviepurchasedetails" th:href="@{/member/purchasedetails/drama}">드라마
                    구매
                    내역</a>
                </li>
            </div>

            <div>
                <li><a class="profileContents" type="moviepurchasedetails" th:href="@{/member/purchasedetails/book}">책
                    구매
                    내역</a>
                </li>
            </div>

            <div>
                <li><a class="profileContents" type="moviepurchasedetails" th:href="@{/member/purchasedetails/webtoon}">웹툰
                    구매
                    내역</a>
                </li>
            </div>
        </div>
    </div>
    <th:block layout:fragment="purchasedetails" style="overflow : auto;"></th:block>


</div>
</body>
</html>