<html layout:decorate="~{/member/contents_purchase_details/member_purchase_details}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/member/purchase_detail.css}">
</head>
<body>
<div layout:fragment="purchasedetails" style="width: 85%; height: 84%; margin-left: 50px;" class="menuDetail"
     id="moviepurchasedetails">
    <table style="margin-top: -120px;">
        <caption style="font-weight: bold; font-size: 23px;">구매 내역</caption>
        <thead>
        <tr style="background: black;">
            <th></th>
            <th>구매 일자</th>
            <th>제목</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <form  th:each="payment :${PaymentList}" th:action="@{/movie/detail}" method="get">
            <tbody>
            <tr th:if="${payment.movie}">
                <td><img th:src="${payment.movie.imageUrl}" style="width: 90px; height: 125px;"></td>
                <td><span th:text="${payment.dateTime}"></span></td>
                <td><span th:text="${#strings.length(payment.movie.getTitle) > 25 ? #strings.substring(payment.movie.getTitle, 0, 25) + '..' : payment.movie.getTitle}"
                ></span></td>
                <td>
                <td>
                    <button class="view"><input th:value="${payment.movie.movieCode}" name="movieCD" type="hidden">상세 정보
                    </button>
                </td>
            </tr>
            </tbody>
        </form>
        <tfoot>
        <td colspan="5" class="tablefoot"></td>
        </tfoot>
    </table>


</div>
</body>
</html>