<html layout:decorate="~{/member/contents_purchase_details/member_purchase_details}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/member/purchase_detail.css}">
</head>
<body>
<div layout:fragment="purchasedetails" style="width: 85%; height: 100%; margin-left: 50px;" class="menudetail" id="purchasedetails_webtoon">


    <table style="margin-top: -120px;">
        <caption style="font-weight: bold; font-size: 23px;">웹툰 구매 내역</caption>
        <thead>
        <tr style="background: black;">
            <th></th>
            <th>구매 일자</th>
            <th>제목</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <form th:each="payment : ${paging}" th:action="@{/webtoon/detail}" method="get">
            <tbody>
            <tr th:if="${payment.webtoon}">
                <td> <img th:src="${payment.webtoon.imageUrl}" style="width: 90px; height: 125px;"></td>
                <td><span th:text="${payment.dateTime}"></span></td>
                <td><span th:text="${#strings.length(payment.webtoon.getTitle) > 25 ? #strings.substring(payment.webtoon.getTitle, 0, 25) + '..' : payment.webtoon.getTitle}"
                ></span></td>
                <td>

                <td>
                    <button class="view"><input th:value="${payment.webtoon.webtoonId}" name="webtoonId" type="hidden">상세 정보
                    </button>
                </td>
            </tr>
            </tbody>
        </form>
        <tfoot>
        <td colspan="5" class="tablefoot"></td>
        </tfoot>
    </table>

            <div class="join" th:if="${paging.totalPages > 0}" style="display : flex; justify-content : space-around; margin-top : 18px;">
                <ul class="pagination justify-content-center" style="display : flex;">
                    <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'btn-disabled'">
                        <a class="join-item btn" th:if="${paging.hasPrevious}" th:href="@{|?page=${paging.number-1}|}">
                            <span>«</span>
                        </a>
                    </li>
                    <li th:each="page: ${#numbers.sequence(paging.number, paging.number)}"
                        th:if="${page >= paging.number and page <= paging.number}"
                        th:classappend="${page == paging.number} ? 'active'"
                        class="page-item btn-disabled">
                        <span th:text="${'Page ' + (page + 1)}" class="join-item btn" th:href="@{|?page=${page}|}"></span>
                    </li>
                    <li class="page-item" th:classappend="${!paging.hasNext} ? 'btn-disabled'">
                        <a class="join-item btn" th:if="${paging.hasNext}" th:href="@{|?page=${paging.number+1}|}">
                            <span>»</span>
                        </a>
                    </li>
                </ul>
            </div>
    </div>
</body>
</html>