<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout2}">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/drama/dramaList.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <style>
        span, input {
            cursor : Default;
        }
    </style>
</head>
<body>
<div layout:fragment="content" style="width : 100%; height : 30%;">
    <div class="swiper-1">
        <div style="width : 1340px; margin : auto;">
            <div class="swiper mySwiper" style="margin-top: 10px; margin-bottom: 55px; width: 95%;">
                <div style="display : flex; flex-direction: column-reverse; padding:5px">
                    <div class="swiper-pagination swiper-pagination"
                         style="position:relative; margin-top:5px; display:flex; flex-direction:row; justify-content:flex-end;">
                    </div>
                    <span style="color : #000000; font-size : 20px; font-weight : bold; margin-bottom : 3px; margin-left: 6%">국내 드라마</span>
                </div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="display:flex; font-size: 18px; align-items: center; height : 100%;"
                         th:each="dramaList1 : ${dramaListList1}">
                        <form style="display : grid; margin-left:15px;"
                              th:action="@{/drama/detail}" method="get" th:each="drama : ${dramaList1}">
                            <button>
                                <div class="img"
                                     style="padding : 5px; width: 213px; height: 305px; display: flex; justify-content: center; align-items: center;">
                                    <div class="rank" th:text="${drama.rankNum}">
                                    </div>
                                    <div class="rank" th:text="${drama.rankNum}"
                                         style="font-size: 16px; letter-spacing: 2px;">
                                    </div>
                                    <img th:sr
                                    <img th:src="${'/dramaImage' + drama.imageUrl}"
                                         th:if="${not #strings.isEmpty(drama.imageUrl)}">
                                    <img src="/imgs/noimg.jpg" th:if="${#strings.isEmpty(drama.imageUrl)}"
                                         style="width : 213px; height : 303px;">
                                </div>
                                <div class="short-info" style="display : inline-grid; margin-left : 5px;">
                                    <form class="title-co">
                                        <input class="title" name="title"
                                               th:value="${#strings.length(drama.title) > 17 ? #strings.substring(drama.title, 0, 17) + '..' : drama.title}"
                                               style="font-size : 17px;" onclick="goDetail('.title-co');" readonly>
                                        <div class="mv-text" th:text="${drama.title}"></div>
                                    </form>
                                    <div class="short-kind" style="display : flex; flex-direction : column; text-align : left;">
                                        <span th:text="${drama.genre}" style="color : #868e96; font-size : 15px;"></span>
                                        <span th:text="${#strings.length(drama.releaseDate) >= 8 ? '오픈' + #strings.substring(drama.releaseDate, 0, 4) + '.' +
                                         #strings.substring(drama.releaseDate, 4, 6) + '.' + #strings.substring(drama.releaseDate, 6, 8) : ''}"
                                              style="color: #868e96; font-size: 15px;"></span>
                                    </div>
                                    <input type="hidden" name="dramaId" th:value="${drama.getId()}">
                                </div>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="swiper-button-next" style="color : #FFD400;"></div>
                <div class="swiper-button-prev" style="color : #FFD400;"></div>
            </div>
        </div>
    </div>
    <div class="swiper-2">
        <div style="width : 1340px; margin : auto;">
            <div class="swiper mySwiper" style="margin-top: 10px; margin-bottom: 55px; width: 95%;">
                <div style="display : flex; flex-direction: column-reverse; padding:5px">
                    <div class="swiper-pagination swiper-pagination"
                         style="position:relative; margin-top:5px; display:flex; flex-direction:row; justify-content:flex-end;">
                    </div>
                    <span style="color : #000000; font-size : 20px; font-weight : bold; margin-bottom : 3px; margin-left: 6%">해외 드라마</span>
                </div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="display:flex; font-size: 18px; align-items: center; height : 100%;"
                         th:each="dramaList2 : ${dramaListList2}">
                        <form style="display : grid; margin-left:15px;"
                              th:action="@{/drama/detail}" method="get" th:each="drama : ${dramaList2}">
                            <button>
                                <div class="img"
                                     style="padding : 5px; width: 213px; height: 305px; display: flex; justify-content: center; align-items: center;">
                                    <div class="rank" th:text="${drama.rankNum}">
                                    </div>
                                    <div class="rank" th:text="${drama.rankNum}"
                                         style="font-size: 16px; letter-spacing: 2px;">
                                    </div>
                                    <img th:src="${'/dramaImage' + drama.imageUrl}"
                                         th:if="${not #strings.isEmpty(drama.imageUrl)}">
                                    <img src="/imgs/noimg.jpg" th:if="${#strings.isEmpty(drama.imageUrl)}"
                                         style="width : 213px; height : 303px;">
                                </div>
                                <div class="short-info" style="display : inline-grid; margin-left : 5px;">
                                    <form class="title-co">
                                        <input class="title" name="title"
                                               th:value="${#strings.length(drama.title) > 17 ? #strings.substring(drama.title, 0, 17) + '..' : drama.title}"
                                               style="font-size : 17px;" onclick="goDetail('.title-co');" readonly>
                                        <div class="mv-text" th:text="${drama.title}"></div>
                                    </form>
                                    <div class="short-kind" style="display : flex; flex-direction : column; text-align : left;">
                                        <span th:text="${drama.genre}" style="color : #868e96; font-size : 15px;"></span>
                                        <span th:text="${#strings.length(drama.releaseDate) >= 8 ? '오픈' + #strings.substring(drama.releaseDate, 0, 4) + '.' +
                                         #strings.substring(drama.releaseDate, 4, 6) + '.' + #strings.substring(drama.releaseDate, 6, 8) : ''}"
                                              style="color: #868e96; font-size: 15px;"></span>
                                    </div>
                                    <input type="hidden" name="dramaId" th:value="${drama.getId()}">
                                </div>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="swiper-button-next" style="color : #FFD400;"></div>
                <div class="swiper-button-prev" style="color : #FFD400;"></div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
                  spaceBetween: 30,
                  pagination: {
                      el: ".swiper-pagination",
                      clickable: true,
                  },
                  navigation: {
                      nextEl: ".swiper-button-next",
                      prevEl: ".swiper-button-prev",
                  },
              });

    </script>
</div>
</body>
</html>

