<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOVIE&BOOK</title>
    <link rel="icon" href="/etc/cat.gif">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daisyui@4.5.0/dist/full.min.css" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="layout-co">
    <a class="logo" href="/"
       style="font-size : xx-large; display: flex; flex-direction: column; align-items: center;">
        <div class="logo-top">
            <span style="color : #fbd7ed;">무비</span>
            <span style="color : #FFFFFF; ">MOVIE</span>
        </div>
        <div class="logo-bottom" style="margin-top: -15px;">
            <span style="color : #FFFFFF;">BOOK</span>
            <span style="color : #fbd7ed; margin-left : 5px;">부비</span>
        </div>
    </a>
    <div class="layout">
        <div class="login" style="font-size : 14px; display: flex; position: absolute; z-index: 99; bottom: 1px;">
            <a class="loginLink" href="/payment" style="display: flex;"><img src="/etc/coin.png" style="height: 18px; margin-right: 4px;">코인충전</a>
            <div class="loginLink">
                <div class="dropdown">
                    <button class="btn-submit" style="display : flex;">
                        <span>고객지원</span>
                    </button>
                    <div class="dropdown-content">
                        <div class="dropdown-list">
                            <a th:href="@{/customerSupport/notice}" style="color: black;">공지사항</a>
                        </div>
                        <div class="dropdown-list">
                            <a th:href="@{/customerSupport/FAQ}" style="color: black;">자주 묻는 질문</a>
                        </div>
                        <div class="dropdown-list">
                            <a th:href="@{/customerSupport/question}" style="color: black;">문의사항</a>
                        </div>
                        <div class="dropdown-list">
                            <a th:href="@{/customerSupport/myQuestion}" style="color: black;">내 질문</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="loginLink" sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>
            <a class="loginLink" sec:authorize="isAuthenticated()" th:href="@{/member/mypage}">마이페이지</a>
            <a class="loginLink" sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그아웃</a>
            <a class="loginLink" th:if="${#authorization.expression('isAnonymous()')}"
               th:href="@{/member/signup}">회원가입</a>
        </div>
    </div>
    <div>
        <li style="display : flex;">
            <a class="category" href="/movie">영화</a>
            <span class="category-bar" >|</span>
            <a class="category" href="/drama">TV</a>
            <span class="category-bar">|</span>
            <a class="category" href="/book">책</a>
            <span class="category-bar" >|</span>
            <a class="category" href="/webtoon">웹툰</a>
        </li>
    </div>
</div>
<th:block layout:fragment="content"></th:block>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="mouse.js"></script>
</body>
</html>
