<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOVIE&BOOK</title>
    <link rel="icon" href="/etc/cat.gif">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daisyui@4.5.0/dist/full.min.css" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="layout-co">
    <div class="layout">
        <a class="logo" href="/"
           style="margin-top : 4%; font-size : xx-large; display: flex; flex-direction: column; align-items: center;">
            <div class="logo-top">
                <span style="color : #fbd7ed;">무비</span>
                <span style="color : #FFFFFF; ">MOVIE</span>
            </div>
            <div class="logo-bottom" style="margin-top: -15px;">
                <span style="color : #FFFFFF;">BOOK</span>
                <span style="color : #fbd7ed; margin-left : 5px;">부비</span>
            </div>
        </a>
        <div class="login" style="font-size : 14px; position: absolute;">
            <img src="/etc/coin.png" style="width : 15px; margin-left : 10%;">
            <a style="color : #FFF; padding: 4px;" href="/payment">코인충전</a>
            <div class="dropdown dropdown-hover">
                <a tabindex="0" role="button" th:href="@{/customerSupport}" style="color: white; padding: 4px;">고객센터</a>
                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box"
                    style="margin-left: -35px;">
                    <a class="btn" style="color: white;">공지사항</a>
                    <a class="btn" style="color: white;">1:1문의</a>
                    <a class="btn" style="color: white;">내 질문</a>
                    <a class="btn" style="color: white;">자주 묻는 질문</a>
                </ul>
            </div>
            <a style="color: #FFF; padding: 4px;" sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>
            <a style="color: #FFF; padding: 4px;" sec:authorize="isAuthenticated()"
               th:href="@{/member/mypage}">마이페이지</a>
            <a style="color: #FFF; padding: 4px;" sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그아웃</a>
            <a style="color: #FFF; padding: 4px;" th:if="${#authorization.expression('isAnonymous()')}"
               th:href="@{/member/signup}">회원가입</a>
        </div>
    </div>
    <div>
        <li style="display : flex;">
            <a class="category" href="/movie">영화</a>
            <span class="category-bar">|</span>
            <a class="category" th:href="@{/drama/dramaList}">TV</a>
            <span class="category-bar">|</span>
            <a class="category" href="/book">책</a>
            <span class="category-bar">|</span>
            <a class="category" href="/webtoon/list">웹툰</a>
        </li>
    </div>
</div>
<th:block layout:fragment="content"></th:block>
</body>
</html>