<html layout:decorate="~{layout33}">
<div layout:fragment="content">
<!--    <div class="swiper mySwiperA">-->
<!--        <div class="swiper-wrapper">-->
<!--            <div class="swiper-slide">-->
<!--                <video autoplay controls>-->
<!--                    <source src="/video/인투더월드.mp4" type="video/mp4">-->
<!--                </video>-->
<!--            </div>-->
<!--            <div class="swiper-slide">-->
<!--                <video autoplay controls>-->
<!--                    <source src="/video/경성크리처.mp4" type="video/mp4">-->
<!--                </video>-->
<!--            </div>-->
<!--            <div class="swiper-slide">-->
<!--                <video autoplay controls>-->
<!--                    <source src="/video/애린왕자.mp4" type="video/mp4">-->
<!--                </video>-->
<!--            </div>-->
<!--            <div class="swiper-slide">-->
<!--                <video autoplay controls>-->
<!--                    <source src="/video/나혼자만레벨업.mp4" type="video/mp4">-->
<!--                </video>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="swiper-button-next"></div>-->
<!--        <div class="swiper-button-prev"></div>-->
<!--        <div class="swiper-pagination"></div>-->
<!--    </div>-->
<!--    <div class="swiper-1">-->
<!--        <div style="width : 1340px; margin : auto;">-->
<!--            <div class="swiper mySwiperB" style="margin-top: 10px; margin-bottom: 55px; width: 95%;">-->
<!--                <div style="display : flex; flex-direction: column-reverse; padding:5px">-->
<!--                    <div class="swiper-pagination swiper-pagination"-->
<!--                         style="position:relative; margin-top:5px; display:flex; flex-direction:row; justify-content:flex-end;">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="swiper-wrapper">-->
<!--                    <div class="swiper-slide"-->
<!--                         style="display:flex; font-size: 18px; align-items: center; height : 100%;"-->
<!--                         th:each="bookList : ${bookListList}">-->
<!--                        <form style="display : grid; margin-left:15px;"-->
<!--                              th:action="@{/book/detail}" method="post" th:each="book : ${bookList}">-->
<!--                            <button>-->
<!--                                <div class="img" style="padding : 5px; width: 213px; height: 305px; display: flex;-->
<!--                        justify-content: center; align-items: center; border: solid 1px;">-->
<!--                                    <img th:src="${book.getCover}" style="max-height: 100%;">-->
<!--                                </div>-->
<!--                            </button>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="swiper-button-next" style="color : #3b3ff6;"></div>-->
<!--                <div class="swiper-button-prev" style="color : #3b3ff6;"></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<div class="swiper mySwiper" style="width: 70%;">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div style="display: flex; justify-content: center;">
                <iframe width="800" height="450" src="https://www.youtube.com/embed/1QDMkG2kLXs?si=PT8cKl1bO_IKwKAZ?controls=0&autoplay=1&mute=0" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <div class="swiper-slide">
            <div style="display: flex; justify-content: center;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Lh0gDi-sQXg?si=sXP27-P_y7F8X65P" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>
<div class="swiper mySwiperA" style="width: 65%;">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div style="display: flex; justify-content: center;">
                <div style="width: 400px; height: 400px; background: green;"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div style="display: flex; justify-content: center;">
                <div style="width: 400px; height: 400px; background: green;"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div style="display: flex; justify-content: center;">
                <div style="width: 400px; height: 400px; background: green;"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div style="display: flex; justify-content: center;">
                <div style="width: 400px; height: 400px; background: green;"></div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
      cssMode: true,
      loop: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
      },
      mousewheel: true,
      keyboard: true,
    });

    var swiper = new Swiper(".mySwiperA", {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
</script>
</div>
</html>