<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout2}">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/Webtoon/webtoon.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>
<body>
<div layout:fragment="content" style="width : 100%; height: 100%; ">
    <div>
        <div th:if="${pagingmovie}" th:each="movie,loop : ${pagingmovie}">
            <td style="text-align : center;" th:text="${movie.title}"></td>
            <img style="text-align : center;" th:src="${movie.imageUrl}">
        </div>

        <tr th:if="${pagingDrama}" th:each="drama,loop : ${pagingDrama}">
            <td style="text-align : center;" th:text="${drama.title}"></td>
            <img style="text-align : center;" th:src="${drama.imageUrl}">
        </tr>

        <tr th:if="${pagingBook}" th:each="book,loop : ${pagingBook}">
            <td style="text-align : center;" th:text="${book.title}"></td>
            <img style="text-align : center;" th:src="${book.imageUrl}">
        </tr>

        <tr th:if="${pagingWebtoon}" th:each="webtoon,loop : ${pagingWebtoon}">
            <td style="text-align : center;" th:text="${webtoon.title}"></td>
            <img style="text-align : center;" th:src="${webtoon.imageUrl}">
        </tr>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
    </script>
</div>
</body>
</html>
