<a href="javascript:void(0);" th:data-uri="@{|/review/detail/{category}/{contentsID}/delete/${comment.id}|}"
   class="delete" sec:authorize="isAuthenticated()"
   th:if="${comment.customer != null and #authentication.getPrincipal().getUsername() == comment.customer.username}"
   th:text="삭제"></a>



<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
            ;
        });
    });
</script>
