<ul class="menu rounded-box">
    <li><a class="menu-item" th:href="@{/member/mypage}" onclick="clickMenu(event, this)">내 정보</a></li>
    <li><a class="menu-item" th:href="@{/member/changeInformation(parameter='1')}" onclick="clickMenu(event, this)">회원 정보 수정</a></li>
    <li><a class="menu-item" th:href="@{/member/changePw(parameter='2')}" onclick="clickMenu(event, this)">비밀번호 변경</a></li>
    <li>
        <details open>
            <summary style="margin-left: 7px;">구매 내역</summary>
            <ul>
                <li><a th:href="@{/member/purchasedetails/movie(parameter='3')}">영화 구매 내역</a></li>
                <li><a th:href="@{/member/purchasedetails/drama(parameter='3')}">드라마 구매 내역</a></li>
                <li><a th:href="@{/member/purchasedetails/book(parameter='3')}">책 구매 내역</a></li>
                <li><a th:href="@{/member/purchasedetails/webtoon(parameter='3')}">웹툰 구매 내역</a></li>

            </ul>
        </details>
    </li>
    <li><a class="menu-item" th:href="@{/member/deleteForm(parameter='4')}" onclick="clickMenu(event, this)">회원 탈퇴</a></li>
</ul>