<!DOCTYPE html>
<html layout:decorate="~{layout2}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">

    <div style="display: flex; justify-content: space-around; margin-top: 40px; font-weight: bold">
        <span style="font-size: 30px; color:black;">웹툰</span>
        <p class="webtoon_console" style="cursor: pointer; margin-top: 22px;">더보기</p>
    </div>
    <div style="display: flex; justify-content: center;">
        <div style="width : 60%;">
            <div class="result-container"
                 style="display: flex; flex-wrap: wrap; justify-content: center; margin-top: 15px; width : 100%; height: 100%;">
                <form class="more_webtoonlist" th:action="@{/webtoon/detail}" method="post"
                      th:if="${pagingWebtoon}"
                      th:each="webtoon, loop : ${pagingWebtoon}" style="height : 38%;">
                    <button>
                        <div class="img" style="padding : 5px; width: 213px; height: 305px; display: flex;
                        justify-content: center; align-items: center;">
                            <img th:src="${webtoon.getImageUrl}" style="max-height: 100%;">
                        </div>
                        <div class="short-info" style="display : flex; flex-direction: column; align-items: flex-start;
                        margin-left : 5px;">
                                <span class="webToon-title"
                                      th:text="${#strings.length(webtoon.getTitle) > 16 ? #strings.substring(webtoon.getTitle, 0, 16) + '..' : webtoon.getTitle}"
                                      style="font-size : 17px;"></span>
                            <div class="mv-text" th:text="${webtoon.title}"></div>
                            <div class="short-kind">
                                <span style="color : #868e96; font-size : 15px;">글,그림 :</span>
                                <span th:text="${#strings.length(webtoon.getAuthor()) > 7 ? #strings.substring(webtoon.getAuthor(), 0, 7) + '..' : webtoon.getAuthor()}"
                                      style="font-size : 17px; margin-bottom : 5px;"></span>
                            </div>
                        </div>
                        <input type="hidden" name="webtoonId" th:value="${webtoon.getWebtoonId()}">
                    </button>
                </form>
            </div>
        </div>
        <div class="join" th:if="${pagingWebtoon != null and pagingWebtoon.totalPages > 0}"
             style="display : flex; justify-content : space-around; margin-top : 18px;">
            <ul class="pagination justify-content-center" style="display : flex;">
                <li class="page-item" th:classappend="${!pagingWebtoon.hasPrevious} ? 'disabled'">
                    <a class="join-item btn"
                       th:href="@{|?page=${pagingWebtoon.number-1}|}">
                        <span>«</span>
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(pagingWebtoon.number, pagingWebtoon.number)}"
                    th:if="${page >= pagingWebtoon.number and page <= pagingWebtoon.number}"
                    th:classappend="${page == pagingWebtoon.number} ? 'active'"
                    class="page-item">
                    <a th:text="${'Page ' + (page + 1)}" class="join-item btn" th:href="@{|?page=${page}|}"></a>
                </li>
                <li class="page-item" th:classappend="${!pagingWebtoon.hasNext} ? 'disabled'">
                    <a class="join-item btn" th:href="@{|?page=${pagingWebtoon.number+1}|}">
                        <span>»</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
        $(function () {
            $(".more_webtoonlist").slice(0, 5).show();

            $(".webtoon_console").click(function (e) {
                e.preventDefault();
                var visibleItems = $(".more_webtoonlist:visible").length;
                $(".more_webtoonlist").slice(0, 5).show();
                $(".more_webtoonlist:hidden").slice(0, 5).show();

                if ($(".more_webtoonlist:hidden").length === 0) {
                    $('.webtoon_console').hide();
                }
            });
        });
    </script>
    <th:block layout:fragment="searchwebtoon" style="width : 85%; height : 100%;"></th:block>
    </div>
</body>
</html>