<table>
    <caption style="font-weight: bold; font-size: 23px;">구매 내역</caption>
    <thead>
    <tr style="background: black;">
        <th></th>
        <th>구매 일자</th>
        <th>제목</th>
        <th></th>
    </tr>
    </thead>
    <form th:each="payment : ${PaymentList}" th:action="@{/webtoon/detail}" method="get">
        <tbody>
        <tr th:if="${payment.webtoon}">
            <td> <img th:src="${payment.webtoon.imageUrl}"></td>
            <td><span th:text="${payment.dateTime}"></span></td>
            <td><span th:text="${payment.webtoon.title}"></span></td>
            <td>
                <button class="view"><input th:value="${payment.webtoon.webtoonId}" name="webtoonId" type="hidden">상세 정보
                </button>
            </td>
        </tr>
        </tbody>
    </form>
    <tfoot>
    <td colspan="5" class="tablefoot"></td>
    </tfoot>
</table>