<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--    <link rel="stylesheet" href="/payment/category_payment.css">  fragment로 들어가는애는 layout에 넣어줘야 css가 먹힌다!-->
</head>
<body>
<nav th:fragment="paymentLayout">
    <div>
        <div class="payment_modal">
            <button id="popup_open_btn">
                <img class="down" src="/imgs/buy.png"
                     style="width : 40px; height : 40px; margin-left : 7px;">
                <p style="margin-top : 15px;" class="id=btn-modal">구매하기</p>
            </button>
            <div id="payment_modal" style="display: none;
                    border-radius : 12px 0px 0px 0px;">
                <div class="modal-window">
                    <button class="modal_close_btn" style="margin-left: 93%">X</button>
                    <div style="display : flex; flex-direction : column;align-items : center;">
                        <img th:src="${movieDailyDetail.imageUrl}"
                             style="width : 120px; margin-top : 10px;">
                        <span id="movieTitle" th:text="${movieDailyDetail.title}"
                              style="text-align : center; font-weight: bold; color: black; white-space: nowrap; margin-top : 2px;"></span>
                        <div style="display : flex;">
                            <img src="/coin.png"
                                 style="height : 20px; margin-top : 2px;">
                            <span style="margin-left : 3px; color : black;">6,500Coin</span>
                        </div>
                    </div>
                    <div style="margin-left : 25%; margin-top : 30px; display : flex; flex-direction : column;">
                        <div style="display : flex;">
                            <span style="margin-right : 3px; color : black;">보유 코인 : </span>
                            <span id="totalCoins"
                                  th:text="${#numbers.formatDecimal(sum, 0, 'COMMA', 0, 'POINT')}"
                                  style="width : 95px; text-align : center; color : red;"></span>
                            <span style="color : black; margin-left : 7px;">Coin</span>
                        </div>
                        <div style="margin-top : 10px;">
                            <span style="margin-right : 3px; color : black;">사용 코인 : </span>
                            <input id="usedCoins" value="6,500"
                                   style="width : 95px; text-align : center; color : red;" readonly>
                            <span style="color : black;">Coin</span>
                        </div>
                        <div style="margin-top : 10px;">
                            <span style="margin-right : 3px; color : black;">남은 코인 : </span>
                            <input id="remainingCoins" class=""
                                   style="width : 95px; text-align : center; color : red;" readonly>
                            <span style="color : black;">Coin</span>
                        </div>
                    </div>
                    <div style="margin-left : 48%; margin-top : 62px; display : flex;">
                        <button class="w-btn" style="margin-right : 5px;"> 결제</button>
                        <button class="w-btn"> 취소</button>
                    </div>
                </div>
            </div>
            <script>

                function calculateRemainingCoins() {
                    var totalCoins = parseInt(document.getElementById('totalCoins').textContent.replace(/,/g, ''), 10);
                    var usedCoins = parseInt(document.getElementById('usedCoins').value.replace(/,/g, ''), 10);

                    var remainingCoins = totalCoins - usedCoins;

                    document.getElementById('remainingCoins').value = remainingCoins.toLocaleString();
                }

                function adjustFontSize() {
                    const titleElement = document.getElementById("movieTitle");
                    const containerWidth = 345;

                    let fontSize = 15;
                    titleElement.style.fontSize = fontSize + "px";

                    while (titleElement.offsetWidth > containerWidth) {
                        fontSize--;
                        titleElement.style.fontSize = fontSize + "px";
                    }
                }

                window.addEventListener("load", adjustFontSize);


            ////////////////////////////////////////////모달창 /////////////////////////////////////////////

             function modal(id) {
                var zIndex = 9999;
                var modal = document.getElementById(id);

                var bg = document.createElement('div');
                bg.setStyle({
                    position: 'fixed',
                    zIndex: zIndex,
                    left: '0px',
                    top: '0px',
                    width: '100%',
                    height: '100%',
                    overflow: 'auto',
                    backgroundColor: 'rgba(0,0,0,0.4)'
                });
                document.body.append(bg);

                originalModalContent = modal.innerHTML;

                modal.querySelector('.modal_close_btn').addEventListener('click', function() {
                    bg.remove();
                    modal.innerHTML = originalModalContent;
                    modal.style.display = 'none';
                });

                modal.setStyle({
                    position: 'fixed',
                    display: 'block',
                    boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',
                    zIndex: zIndex + 1,
                    top: '50%',
                    left: '50%',
                    height : '500px',
                    width : '390px',
                    background : 'white',
                    padding : '10px',
                    transform: 'translate(-50%, -50%)',
                    msTransform: 'translate(-50%, -50%)',
                    webkitTransform: 'translate(-50%, -50%)'
                });
             }

             Element.prototype.setStyle = function(styles) {
                for (var k in styles) this.style[k] = styles[k];
                return this;
             };

             var popup = document.getElementById('popup_open_btn');

             popup.addEventListener('click', function() {
                modal('payment_modal');
                calculateRemainingCoins();
             });

             //////////////////////////////////////////////////////////////////////////////////////////
            </script>
</nav>
</body>
</html>