<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout2}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/Payment/payment.css}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <meta charset="UTF-8">
    <title>Sample Payment</title>
</head>
<body>
<div layout:fragment="content" style="width : 100%; height : 30%;">
    <div style="display : flex; margin : auto; width : 1300px; height : 1500px; margin-top : 3px;">
        <input type="hidden" class="_csrf"
               value="ELCsIKgKv7yGzeFZsXxrCtAcVBiiS-lvBrP8b-1scsRpPlrWHJoKfFsw4ioyr-thtgFFfbLF6eSCUctFCYICYW2l4gC57o4W1"/>
        <div style="width : 900px; background : yellow;">

            <button onclick="cancelPay()">환불하기</button>
        </div>
        <div style="width : 300px; background : green; display : flex; justify-content : center;">
            <div style="margin-top : 30px;">
                <div style="margin-bottom : 20px;">
                    <img class="profile" sec:authorize="isAuthenticated()"
                         th:if="${not #strings.isEmpty(member.profileImage)}"
                         th:src="${member.profileImage}">
                    <img class="profile" th:if="${#strings.isEmpty(member.profileImage)}" src="/imgs/noimg.jpg">
                </div>
                <span class="s_name" name="s_name" sec:authorize="isAuthenticated()"
                      th:text="${member.nickname} + ' 님 안녕하세요'" style="font-size : large;"></span>
                <input class="m_id" name="m_id" sec:authorize="isAuthenticated()" th:value="${member.id}" type="hidden">
                <input type="hidden" class="_csrf" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <div style="margin-top: 20px;">
                    <div class="email">
                        <span>Email</span>
                        <input class="m_email" name="m_email" th:if="${not #strings.isEmpty(member.email)}"
                               th:value="${member.email}" style="text-align : center; margin-left : 5px;"/>
                        <input class="m_email" name="m_email" th:if="${#strings.isEmpty(member.email)}"
                               placeholder="이메일을 작성해주세요." style="text-align : center; margin-left : 5px;"/>
                    </div>
                    <div class="phone" style="margin-top : 15px;">
                        <span>Phone</span>
                        <input type="text" class="s_phone" id="s_phone" name="s_phone" maxlength="13"
                               oninput="hypenTel(this)" placeholder="전화번호를 작성해주세요." style="text-align : center;"/>
                    </div>
                </div>
                <button id="iamportPayment" onclick="payment()" style="margin-top: 30px;">
                    <img src="/imgs/kakaopay.png" style="width : 95px;">
                </button>
            </div>
        </div>
    </div>
    <script>
        ////////////////////////////////////////////////  결제 구현  ////////////////////////////////////////////////
            var today = new Date();
            var hours = today.getHours(); // 시
            var minutes = today.getMinutes();  // 분
            var seconds = today.getSeconds();  // 초
            var milliseconds = today.getMilliseconds();
            var makeMerchantUid = `${hours}` + `${minutes}` + `${seconds}` + `${milliseconds}`;
            var csrfToken = $("input._csrf").val();

            $(document).ready(function(){
                $("#iamportPayment").click(function(){
                    var m_email = $("input.m_email").val();
                    var s_name = $('span.s_name').val();
                    var s_phone = $('input.s_phone').val();
                    var m_id = $('input.m_id').val();
                    payment(m_email, s_name, m_id, s_phone);
                });
            })

           function payment(m_email, s_name, m_id, s_phone){
            IMP.init("imp08502572");
            IMP.request_pay({
                    pg : 'kakaopay.TC0ONETIME',
                    pay_method : 'card',
                    merchant_uid: "IMP" + makeMerchantUid,
                    name : 'Movie-Boobi Coin Payment',
                    amount : 1004,
                    buyer_email : 'Iamport@chai.finance',
                    buyer_name : '포트원 기술지원팀',
                    buyer_tel : '010-1234-5678'
                }, function (rsp) {
                if(rsp.success){
                    var msg = '결제가 완료되었습니다.';
                    msg += '고유ID : ' + rsp.imp_uid;
                    msg += '상점 거래ID : ' + rsp.merchant_uid;
                    msg += '결제 금액 : ' + rsp.paid_amount;
                    let paymentDTO = {
                        m_id: m_id,
                        m_email: m_email,
                        s_name: s_name,
                        s_phone: s_phone,
                        o_shipno: rsp.merchant_uid,
                        o_paidAmount: rsp.paid_amount,
                        o_paytype: rsp.pay_method
                    }

                    console.log("paymentDTOid : " + paymentDTO.m_id + " / m_email : " + paymentDTO.m_email+ " / s_name : " + paymentDTO.s_name+ " / s_phone : " + paymentDTO.s_phone+ " / o_paidAmount : " + paymentDTO.o_paidAmount+ " / o_paytype : " + paymentDTO.o_paytype);

                    $.ajax({
                       url: "kakaoPayCheck",
                       type: "post",
                       data: JSON.stringify(paymentDTO),
                       dataType: "text",
                       contentType: "application/json",
                       beforeSend: function(xhr) {
                            xhr.setRequestHeader('X-CSRF-TOKEN', csrfToken);
                       },
                       success: function (result) {
                          console.log('2');
                          if (result == "y") {
                             alert(msg);
                             location.href = "kakaoPayCheck";
                          } else {
                             alert("디비입력실패");
                             return false;
                          }
                       },
                       error: function (a, b, c) {}
                    });
                } else {
                   var msg = '결제에 실패하였습니다.';
                   msg += '에러내용 : ' + rsp.error_msg;
                }
                 alert(msg);
            });
           }

    <!--        function cancelPay() {-->
    <!--           jQuery.ajax({ -->
    <!--             "type": "POST",-->
    <!--             "contentType": "application/json",-->
    <!--             "data": JSON.stringify({-->
    <!--               "merchant_uid": "{결제건의 주문번호}", // 예: ORD20180131-0000011-->
    <!--               "cancel_request_amount": 2000,-->
    <!--               "reason": "테스트 결제 환불"-->
    <!--             }),-->
    <!--             "dataType": "json"-->
    <!--           });-->
    <!--        }-->
        ////////////////////////////////////////////////  결제 구현 끝  ////////////////////////////////////////////////

        ////////////////////////////////////////////////  함수 구현  ///////////////////////////////////////////////////
                      var autoHypenPhone = function(str){
                          str = str.replace(/[^0-9]/g, '');
                          var tmp = '';

                          if( str.length < 4){
                              return str;
                          }else if(str.length < 7){
                              tmp += str.substr(0, 3);
                              tmp += '-';
                              tmp += str.substr(3);
                              return tmp;
                          }else if(str.length < 11){
                              tmp += str.substr(0, 3);
                              tmp += '-';
                              tmp += str.substr(3, 3);
                              tmp += '-';
                              tmp += str.substr(6);
                              return tmp;
                          }else{
                              tmp += str.substr(0, 3);
                              tmp += '-';
                              tmp += str.substr(3, 4);
                              tmp += '-';
                              tmp += str.substr(7);
                              return tmp;
                          }

                          return str;
                      }


                     var phoneNum = document.getElementById('s_phone');

                     phoneNum.onkeyup = function(){
                      this.value = autoHypenPhone( this.value ) ;
                     }

        ////////////////////////////////////////////////  함수 구현 끝  ////////////////////////////////////////////////////

    </script>
</div>
</body>
</html>

