<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout2}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/payment/payment.css}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div layout:fragment="content" style="width : 100%; height : 30%;">
    <div style="display : flex; margin : auto; width : 1300px; height : 890px; margin-top : 3px;">
        <!--        <input type="hidden" class="_csrf"-->
        <!--               value="ELCsIKgKv7yGzeFZsXxrCtAcVBiiS-lvBrP8b-1scsRpPlrWHJoKfFsw4ioyr-thtgFFfbLF6eSCUctFCYICYW2l4gC57o4W1"/>-->
        <div style="width : 900px; display : flex; flex-direction : column; padding : 22px;">
            <span style="font-size: larger; font-weight: bold;"> 결제 및 구매 내역 </span>
            <div style="margin-left : 50px; margin-top : 40px;">
                <div style="min-height : 500px;">
                    <table>
                        <tr>
                            <th>순번</th>
                            <th>일자</th>
                            <th>내역</th>
                            <th>사용코인</th>
                            <th></th>
                        </tr>
                        <tr th:each="payment, row: ${paging}">
                            <td><span th:text="${row.index + 1}"></span></td>
                            <td><span th:text="${#temporals.format(payment.dateTime, 'yyyy-MM-dd HH:mm')}"></span></td>
                            <td><span th:text="${payment.content}"></span></td>
                            <td><span
                                    th:text="${#strings.contains(payment.content, '충전') ? '+ ' + payment.paidAmount  : '- ' + payment.paidAmount}"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="join" th:if="${paging.totalPages > 0}" style="display : flex; justify-content : space-around; margin-top : 18px;">
                    <ul class="pagination justify-content-center" style="display : flex;">
                        <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'btn-disabled'">
                            <a class="join-item btn" th:if="${paging.hasPrevious}" th:href="@{|?page=${paging.number-1}|}">
                                <span>«</span>
                            </a>
                        </li>
                        <li th:each="page: ${#numbers.sequence(paging.number, paging.number)}"
                            th:if="${page >= paging.number and page <= paging.number}"
                            th:classappend="${page == paging.number} ? 'active'"
                            class="page-item btn-disabled">
                            <span th:text="${'Page ' + (page + 1)}" class="join-item btn" th:href="@{|?page=${page}|}"></span>
                        </li>
                        <li class="page-item" th:classappend="${!paging.hasNext} ? 'btn-disabled'">
                            <a class="join-item btn" th:if="${paging.hasNext}" th:href="@{|?page=${paging.number+1}|}">
                                <span>»</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div style="width : 320px; display : flex; justify-content : center; border-left: 2.5px dotted #DEE2E6;">
            <div style="margin-top : 30px; margin-bottom : 20px;">
                <div style="display : flex;">
                    <img class="profile" sec:authorize="isAnonymous()"
                         src="/member/defaultImage.jpg">
                    <img class="profile" sec:authorize="isAuthenticated()"
                         th:if="${not #strings.isEmpty(member.profileImage)}"
                         th:src="${member.profileImage}">
                    <div style="display : flex; flex-direction: column;">
                        <span sec:authorize="isAuthenticated()"
                          th:text="${member.nickname} + ' 님 안녕하세요'"
                          style="font-size : large; width : 100%; height : 27px; margin-top : 33px; margin-left : 5px;"></span>

                        <span sec:authorize="isAnonymous()"
                              style="font-size : large; width : 100%; height : 27px; margin-top : 33px; margin-left : 5px;">Guest님 안녕하세요</span>
                        <div style="display : flex; font-weight : bold;">
                            <img src="/etc/coin.png" style="height : 20px; margin-top : 1px; margin-right : 1px;">
                            <span style="margin-right : 3px;">보유 코인 : </span>
                            <span th:text="${#numbers.formatDecimal(sum, 0,  'COMMA', 0, 'POINT')}"
                                  style="width : 95px; text-align : center;"></span>
                            <span>Coin</span>
                        </div>

                    </div>

                </div>
                <input class="s_name" name="s_name" sec:authorize="isAuthenticated()" th:value="${member.nickname}"
                       type="hidden">
                <input class="m_id" name="m_id" sec:authorize="isAuthenticated()" th:value="${member.id}"
                       type="hidden">
                <!--                <input type="hidden" class="_csrf" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
                <div style=" margin-top : 20px;">
                    <div style="display : flex; justify-content : space-between; padding : 5px;">
                        <img src="/etc/coin.png" style="height : 20px; margin-top : 2px; margin-left : 8px;"> 1,000Coin
                        <button id="1000"
                                style="margin-left : 60px; background : #FFD400; padding : 2px; width : 100px; border-radius: 30px; font-weight : bold;"
                                onclick="clickCoin(1000)">
                            1,000원
                        </button>
                    </div>
                    <div style="display : flex; justify-content : space-between; padding : 5px;">
                        <img src="/etc/coin.png" style="height : 20px; margin-top : 2px; margin-left : 8px;"> 5,000Coin
                        <button id="5000"
                                style="margin-left : 60px; background : #FFD400; padding : 2px; width : 100px; border-radius: 30px; font-weight : bold;"
                                onclick="clickCoin(5000)">
                            5,000원
                        </button>
                    </div>
                    <div style="display : flex; justify-content : space-between; padding : 5px;">
                        <img src="/etc/coin.png" style="height : 20px; margin-top : 2px; margin-left : 8px;"> 10,000Coin
                        <button id="10000"
                                style="margin-left : 60px; background : #FFD400; padding : 2px; width : 100px; border-radius: 30px; font-weight : bold;"
                                onclick="clickCoin(10000)">
                            10,000원
                        </button>
                    </div>
                    <div style="display : flex; justify-content : space-between; padding : 5px;">
                        <img src="/etc/coin.png" style="height : 20px; margin-top : 2px; margin-left : 8px;"> 30,000Coin
                        <button id="30000"
                                style="margin-left : 60px; background : #FFD400; padding : 2px; width : 100px; border-radius: 30px; font-weight : bold;"
                                onclick="clickCoin(30000)">
                            30,000원
                        </button>
                    </div>
                    <div style="display : flex; justify-content : space-between; padding : 5px;">
                        <img src="/etc/coin.png" style="height : 20px; margin-top : 2px; margin-left : 8px;"> 50,000Coin
                        <button id="50000"
                                style="margin-left : 60px; background : #FFD400; padding : 2px; width : 100px; border-radius: 30px; font-weight : bold;"
                                onclick="clickCoin(50000)">
                            50,000원
                        </button>
                    </div>
                    <div style="display : flex; justify-content : space-between; padding : 5px;">
                        <img src="/etc/coin.png" style="height : 20px; margin-top : 2px; margin-left : 8px;">
                        100,000Coin
                        <button id="100000"
                                style="margin-left : 60px; background : #FFD400; padding : 2px; width : 100px; border-radius: 30px; font-weight : bold;"
                                onclick="clickCoin(100000)">
                            100,000원
                        </button>
                    </div>
                    <div style="margin-top: 20px; padding : 5px; margin-left : 8px;">
                        <div class="email" sec:authorize="isAuthenticated()">
                            <span>Email</span>
                            <input class="m_email" name="m_email" th:if="${not #strings.isEmpty(member.email)}"
                                   th:value="${member.email}" style="text-align : center; margin-left : 5px;"/>
                            <input class="m_email" name="m_email" th:if="${#strings.isEmpty(member.email)}"
                                   placeholder="이메일을 작성해주세요." style="text-align : center; margin-left : 5px;"/>
                        </div>
                        <div class="phone" style="margin-top : 15px;" sec:authorize="isAuthenticated()">
                            <span>Phone</span>
                            <input type="text" class="s_phone" id="s_phone" name="s_phone" maxlength="13"
                                   oninput="hypenTel(this)" placeholder="전화번호를 작성해주세요."
                                   style="text-align : center;"/>
                        </div>
                        <div style="display : flex; margin-top : 12px; margin-left : 113px; font-weight : bold;">
                            <span>총  결제금액 : </span>
                            <input class="totalAmount" id="totalAmount" style="width : 85px; text-align : right;"
                                   readonly>
                        </div>
                    </div>
                </div>
                <div sec:authorize="isAuthenticated()" style="margin-top : -19px; margin-left : 2px; display : flex; justify-content : space-evenly;">
                    <button id="kakaoPayment" style="margin-top: 30px;">
                        <img src="/imgs/kakaopay.png" style="width : 95px;">
                    </button>
                    <button id="TossPayment" style="margin-top: 30px;">
                        <img src="/imgs/tossPay.png" style="width: 95px; margin-bottom : 8px;">
                    </button>
                </div>
                <div sec:authorize="isAnonymous()" style="margin-top : -19px; margin-left : 2px; display : flex; justify-content : space-evenly;">
                    <button style="margin-top: 30px; display : flex;" onclick="clickPayment_unlogging()">
                        <img src="/imgs/kakaopay.png" style="width : 95px;">
                        <img src="/imgs/tossPay.png" style="width: 95px; margin-bottom : 8px; margin-top : 7px; margin-left : 32px;">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        ////////////////////////////////////////////////  결제 구현  ////////////////////////////////////////////////
            var today = new Date();
            var hours = today.getHours(); // 시
            var minutes = today.getMinutes();  // 분
            var seconds = today.getSeconds();  // 초
            var milliseconds = today.getMilliseconds();
            var makeMerchantUid = `${hours}` + `${minutes}` + `${seconds}` + `${milliseconds}`;
            var csrfToken = $("input._csrf").val();
            var kakaoPg =  'kakaopay.TC0ONETIME';
            var tossPg =  'tosspay.tosstest';
            var csrfToken = $("meta[name='_csrf']").attr("content");
            var csrfHeader = $("meta[name='_csrf_header']").attr("content");

            function clickPayment_unlogging(){
                error_page('로그인 후 이용해주세요.');
            }

            function error_page(title){
                Swal.fire({
                        icon: 'warning',
                        title: title,
                });
            }

            function check_info(m_email, s_phone, amount, msg) {
                if (m_email == "" && s_phone == "") {
                    error_page(msg + '\n이메일과 전화번호를 작성해주세요.');
                    return false;
                } else if (m_email == "") {
                    error_page(msg + '\n이메일을 작성해주세요.');
                    return false;
                } else if (s_phone == "") {
                    error_page(msg + '\n전화번호를 작성해주세요.');
                    return false;
                }
                return true;
            }

            $(document).ready(function(){
                $("#kakaoPayment").click(function(){
                    var m_email = $("input.m_email").val();
                    var s_name = $('input.s_name').val();
                    var m_id = $('input.m_id').val();
                    var s_phone = $('input.s_phone').val();
                    var pg = kakaoPg;
                    var amount = $('input.totalAmount').val().replace(/,/g, '');
                    var url = 'kakaoPayCheck';
                    if(amount == ""){
                        error_page('결제금액을 선택해주세요')
                        return false;
                    }
                    payment(m_email, s_name, m_id, s_phone, pg, amount, url);
                });
                $("#TossPayment").click(function(){
                    var m_email = $("input.m_email").val();
                    var s_name = $("input.s_name").val();
                    var m_id = $('input.m_id').val();
                    var s_phone = $('input.s_phone').val();
                    var pg = tossPg;
                    var amount = $('input.totalAmount').val().replace(/,/g, '');
                    var url = 'tossPayCheck';
                    if(amount == ""){
                        error_page('결제금액을 선택해주세요')
                        return false;
                    }
                    payment(m_email, s_name, m_id, s_phone, pg, amount, url);
                });
            })

           function payment(m_email, s_name, m_id, s_phone, pg, amount, url){
            IMP.init("imp08502572");
            IMP.request_pay({
                    pg : pg,
                    pay_method : 'card',
                    merchant_uid: "IMP" + makeMerchantUid,
                    name : 'Movie-Boobi Coin Payment',
                    amount : amount,
                    buyer_email : m_email,
                    buyer_name : s_name,
                    buyer_tel : s_phone
                }, function (rsp) {
                if(rsp.success){
                    var msg = '결제가 완료되었습니다.';
<!--                    msg += '고유ID : ' + rsp.imp_uid;-->
<!--                    msg += '상점 거래ID : ' + rsp.merchant_uid;-->
<!--                    msg += '결제 금액 : ' + rsp.paid_amount;-->
                    let paymentDTO = {
                        m_id: m_id,
                        m_email: m_email,
                        s_name: s_name,
                        s_phone: s_phone,
                        o_shipno: rsp.merchant_uid,
                        o_paidAmount: rsp.paid_amount,
                        o_paytype: rsp.pay_method
                    }
<!--                    console.log('m_id : ' +m_id +  'm_email : ' +m_email + 's_name : ' +s_name + 's_phone : ' +s_phone + 'o_shipno : ' + rsp.merchant_uid + 'o_paidAmount : ' + rsp.paid_amount + 'o_paytype :  ' + rsp.pay_method );-->

                    $.ajax({
                       url: url,
                       type: "post",
                       data: JSON.stringify(paymentDTO),
                       dataType: "text",
                       contentType: "application/json",
                       beforeSend: function(xhr) {
                            xhr.setRequestHeader(csrfHeader, csrfToken);
                       },
                       success: function (result) {
                         return false;
                       },
                       error: function (a, b, c) {}
                    });
                } else {
                   var msg = '결제에 실패하였습니다.';
<!--                   msg += '에러내용 : ' + rsp.error_msg;-->
                }
                 check_info(m_email, s_phone, amount, msg);
            });
           }
        ////////////////////////////////////////////////  결제 구현 끝  ////////////////////////////////////////////////

        ////////////////////////////////////////////////  함수 구현  ///////////////////////////////////////////////////
                      var autoHypenPhone = function(str){
                          str = str.replace(/[^0-9]/g, '');
                          var tmp = '';

                          if( str.length < 4){
                              return str;
                          }else if(str.length < 7){
                              tmp += str.substr(0, 3);
                              tmp += '-';
                              tmp += str.substr(3);
                              return tmp;
                          }else if(str.length < 11){
                              tmp += str.substr(0, 3);
                              tmp += '-';
                              tmp += str.substr(3, 3);
                              tmp += '-';
                              tmp += str.substr(6);
                              return tmp;
                          }else{
                              tmp += str.substr(0, 3);
                              tmp += '-';
                              tmp += str.substr(3, 4);
                              tmp += '-';
                              tmp += str.substr(7);
                              return tmp;
                          }

                          return str;
                      }


                     var phoneNum = document.getElementById('s_phone');

                     phoneNum.onkeyup = function(){
                      this.value = autoHypenPhone( this.value ) ;
                     }

                     var previousButtonId = null;

                     function clickCoin(id){
                        var currentButton = document.getElementById(id);
                        var totalAmountInput = document.getElementById("totalAmount");

                        if (previousButtonId !== null) {
                            var previousButton = document.getElementById(previousButtonId);
                            previousButton.style.background = "#FFD400";
                        }

                        currentButton.style.background = "#DAA520";

                        previousButtonId = id;

                        totalAmountInput.value = numberWithCommas(id);
                     }

                     function numberWithCommas(x) {
                        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                     }

                    document.addEventListener('DOMContentLoaded', function() {
                        var disabledLinks = document.querySelectorAll('.page-item.disabled a');
                        disabledLinks.forEach(function(link) {
                            link.addEventListener('click', function(event) {
                                event.preventDefault();
                            });
                        });
                    });

        ////////////////////////////////////////////////  함수 구현 끝  ////////////////////////////////////////////////////

    </script>
</div>
</body>
</html>

