<html lang="ko" layout:decorate="~{/customerSupport/customerSupportLayout}">
<div layout:fragment="CScontent" class="menuDetail" id="default" style="padding: 40px 40px 0px 50px; min-width: 100vh">
    <div style="height: 100%;">
        <h1 th:text="${question.title}"></h1>
        <h2 th:utext="${@commonUtil.markdown(question.content)}"></h2>
    </div>
    <script th:inline="javascript">
        var category = /*[[${category}]]*/ null;
        var menuDetail = document.querySelector('.menuDetail');

        if (category === "NOTICE") {
            menuDetail.id = "notice";
        } else if (category === "FAQ") {
            menuDetail.id = "FAQ";
        } else if (category === "QUESTION") {
            menuDetail.id = "question";
        }
    </script>
</div>
</html>