<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout2}">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/contents.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>
<body>
<div layout:fragment="content" style="width : 100%; min-height : 1100px;">
<!--    <div class="popup-box-1 popup-box-type-a" style="white-space : nowrap;">-->
<!--        <div class="popup">-->
<!--            <div class="head" style="display : flex; flex-direction: column-reverse; margin-top : 5px;">-->
<!--                <div style="display: flex; justify-content: center;">-->
<!--                <span class="login_btn" >로그인</span>-->
<!--                </div>-->
<!--                <div class="btn-close"></div>-->
<!--            </div>-->
<!--            <div class="body">-->
<!--                <form class="login-form" id="urlForm" th:action="@{/member/login}" method="post">-->
<!--                    <div style="display: flex; flex-direction: column; align-items: center; margin-top : 4%;">-->
<!--                        <div class="form-group" style="padding: 4px 0px; margin-top:5%;">-->
<!--                            <input type="text" name="username" id="username" class="form-control"-->
<!--                                   style="padding: 8px; border-radius: 6px; background: rgb(245, 245, 245);"-->
<!--                                   placeholder="사용자 ID" required>-->
<!--                        </div>-->
<!--                        <div class="form-group" style="padding: 4px 0px; margin-top:5%;">-->
<!--                            <input type="password" name="password" id="password" class="form-control"-->
<!--                                   style="padding: 8px; border-radius: 6px; background: rgb(245, 245, 245);"-->
<!--                                   placeholder="비밀번호" required>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <button type="submit"-->
<!--                                    style="margin-top:5%; padding: 5px 82px; font-size: 16px; font-weight: bold; border: none; background-color: red; color: white; cursor: pointer;">-->
<!--                                로그인-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group" style="padding: 10px; display: flex; justify-content: space-evenly; margin-top : 5%; margin-bottom : 5%;">-->
<!--                        <a th:href="@{/member/findUsername}">아이디 찾기</a>-->
<!--                        <a>|</a>-->
<!--                        <a th:href="@{/member/resetPassword}">비밀번호 찾기</a>-->
<!--                    </div>-->
<!--                </form>-->

<!--                <a style="margin-left : 8%;">&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; OR &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</a>-->
<!--                <div style="display: flex; justify-content: center; padding: 10px; margin-top : 5%;">-->
<!--                    <a th:href="@{/member/login/google}">-->
<!--                        <img src="/loginButton/btn_google.svg" alt="Google 로그인" style="width:100px; height:50px;">-->
<!--                    </a>-->
<!--                    <a th:href="@{/member/login/kakao}">-->
<!--                        <img src="/loginButton/btn_kakao.svg" alt="Kakao 로그인" style="width:100px; height:50px;">-->
<!--                    </a>-->
<!--                    <a th:href="@{/member/login/naver}">-->
<!--                        <img src="/loginButton/btn_naver.svg" alt="Naver 로그인" style="width:100px; height:50px;">-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="box-1 con">-->
<!--        <button class="btn-show-popup-1">팝업 1 열기</button>-->
<!--    </div>-->

    <div class="content-co" style="width : 1300px; margin : auto; margin-bottom : 30px;">
        <div class="post-co" style="display : flex; flex-direction : row; ">
            <div style="margin-top: 30px; color: #868e96;" th:if="${contentsDTOS != null}">
                <img th:if="${contentsDTOS.imageUrl != null and category == 'drama'}"
                     th:src="${'/dramaImage' + contentsDTOS.imageUrl}" style="width: 300px;">
                <img th:if="${contentsDTOS.imageUrl != null and category != 'drama'}" th:src="${contentsDTOS.imageUrl}"
                     style="width: 300px;">
                <img th:if="${contentsDTOS.imageUrl == null}" src="/imgs/noimg.jpg" style="width : 300px;">
            </div>
            <div style="display : flex; flex-direction : column; width : 75%; margin-left : 25px;">
                <span th:if="${contentsDTOS.title}" th:text="${contentsDTOS.title}"
                      style="font-size : 33px; font-weight : bold;  margin-bottom : 5px; margin-top : 30px;"></span>
                <div style="display : flex;">
                    <div style="flex-direction : column;">
                        <div class="rate" style="margin-top : 15px;">
                            <input type="radio" id="rating10" name="rating" value="10" onclick="updateRating(5)">
                            <label for="rating10" title="5점"></label>
                            <input type="radio" id="rating9" name="rating" value="9" onclick="updateRating(4.5)">
                            <label class="half" for="rating9" title="4.5점"></label>
                            <input type="radio" id="rating8" name="rating" value="8" onclick="updateRating(4)">
                            <label for="rating8" title="4점"></label>
                            <input type="radio" id="rating7" name="rating" value="7" onclick="updateRating(3.5)">
                            <label class="half" for="rating7" title="3.5점"></label>
                            <input type="radio" id="rating6" name="rating" value="6" onclick="updateRating(3)">
                            <label for="rating6" title="3점"></label>
                            <input type="radio" id="rating5" name="rating" value="5" onclick="updateRating(2.5)">
                            <label class="half" for="rating5" title="2.5점"></label>
                            <input type="radio" id="rating4" name="rating" value="4" onclick="updateRating(2)">
                            <label for="rating4" title="2점"></label>
                            <input type="radio" id="rating3" name="rating" value="3" onclick="updateRating(1.5)">
                            <label class="half" for="rating3" title="1.5점"></label>
                            <input type="radio" id="rating2" name="rating" value="2" onclick="updateRating(1)">
                            <label for="rating2" title="1점"></label>
                            <input type="radio" id="rating1" name="rating" value="1" onclick="updateRating(0.5)">
                            <label class="half" for="rating1" title="0.5점" onclick="updateRating(0.5)"></label>
                        </div>
                        <p style="margin-top : -9px; text-align : center; color : #868e96; font-weight : bold;">평가하기</p>
                    </div>
                    <div style="display : flex; flex-direction : column; margin-top : 33px; margin-left : 70px; text-align : center;">
                        <span th:text="${avgRating}"
                              style="font-size : x-large; font-weight : bold; color : #868E96;"></span>
                        <span style="margin-top : 23px; font-weight : bold; color : #868E96;">평균 별점</span>
                    </div>
                    <div class="event-co"
                         style="display : flex; margin-left : 70px; margin-top : 33px; color : #868e96; font-weight : bold;">
                        <nav th:replace="~{contents/contents_comment :: commentLayout}"></nav>

                        <div style="margin-right : 50px; margin-left : 50px;">
                            <form class="click_Contents_heart" sec:authorize="isAuthenticated()"
                                  onsubmit="return false;">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <button onclick="clickContentsHeart(this);" style="display: flex;">
                                    <div class="like-co">
                                        <span class="likeit" th:if="${heart != null and heart.member.id == member.id}">
                                            <img src="/imgs/icon-like.png"
                                                 style="width : 40px; height : 40px; margin-bottom : 18px; margin-left : 7px;">
                                        </span>
                                        <span class="no-likeit"
                                              th:if="${heart == null or heart.member.id != member.id}">
                                            <img src="/imgs/icon-unlike.png"
                                                 style="width : 40px; height : 40px; margin-bottom : 18px; margin-left : 7px;">
                                        </span>
                                        <span style="margin-left : 7px;">좋아요</span>
                                    </div>
                                </button>
                            </form>
                            <button class="like-co" onclick="clickContentsHeart_Unclogging();"
                                    sec:authorize="isAnonymous()">
                                <img class="likeit" src="/imgs/icon-unlike.png"
                                     style="width : 40px; height : 40px; margin-bottom : 18px; margin-left : 7px;">
                                <span style="margin-left : 7px;">좋아요</span>
                            </button>
                        </div>

                        <nav th:replace="~{contents/contents_payment :: paymentLayout}"></nav>
                    </div>
                </div>
                <div style="width : 100%; margin-top : 41px; color : #868e96; margin-bottom : 10px;">
                    <span th:if="${contentsDTOS.genre}" th:text="${contentsDTOS.genre}"
                          style="margin-left : 5px;"></span>
                    <span th:if="${contentsDTOS.nations}" th:text="${'·' + contentsDTOS.nations}"></span>
                    <span th:if="${contentsDTOS.viewingRating}" th:text="${'·' + contentsDTOS.viewingRating}"></span>
                    <span th:if="${movieruntime}" th:text="${'(' + movieruntime + ')'}"></span>
                    <span th:if="${contentsDTOS.pubdate}"
                          th:text="${'출간일 : ' + #temporals.format(contentsDTOS.pubdate, 'yyyy-MM-dd') + ' /'}"></span>
                    <span th:if="${contentsDTOS.pricestandard}"
                          th:text="${'소비자 가격 : ' + #numbers.formatDecimal(contentsDTOS.pricestandard, 0,  'COMMA', 0, 'POINT') + '₩' }"></span>
                    <span th:if="${contentsDTOS.updateDays}" th:text="${'연재일 : ' + contentsDTOS.updateDays}"></span>
                </div>
                <div class="movie-co"
                     style="text-align : center; border : 3px dashed #868e96; padding : 22px; height : 182px; margin-bottom : 15px;">
                    <span th:if="${contentsDTOS.plot}"
                          th:text="${#strings.length(contentsDTOS.plot)> 300 ? #strings.substring(contentsDTOS.plot, 0, 300) + '..' : contentsDTOS.plot}"
                          style="font-size : 17px"></span>
                </div>
            </div>
        </div>
        <div class="movie-info" style="margin-top : 36px;">
            <div class="swiper mySwiper">
                <span th:text="${contentsDTOS.gubun}"
                      style="font-size : 22px; width : 80%; font-weight : bold; color : black;"></span>
                <div class="swiper-wrapper" style="margin-top : 20px; margin-bottom : 20px;">
                    <div class="swiper-slide" th:each="actorList : ${author_actor_ListList}"
                         style="margin-right:30px; display : flex;flex-direction : row; align-items: baseline;">
                        <div th:each="i : ${#numbers.sequence(0, actorList.size()-1, 2)}" style="width: 200px;">
                            <div class="actor-co"
                                 style="width: 165px; align-items: center; display : flex; flex-direction: column;">
                                <img src="/imgs/profile_icon.png" style="width: 48px; height: 48px; margin: auto;">
                                <span th:text="${actorList[i]}" style="font-size: 15px; margin-top : 5px;"></span>
                                <span th:if="${actorList[i+1] != null and actorList[i+1] != '()'}"
                                      th:text="${actorList[i+1]}"
                                      style="font-size: 15px; max-width: 150px; word-break: auto-phrase; margin-top : 5px;"></span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-scrollbar">
                </div>
            </div>
            <div style="vertical-align: top; box-sizing: border-box; width: 100%; display: block; padding: 0px;">
                <div style="display : flex;  margin-bottom : 8px; margin-top : 36px;">
            <span th:text="코멘트"
                  style="font-size : 22px; font-weight : bold; color : black;">
            </span>
                    <span th:text="${#lists.size(reviewList)}"
                          style="font-size : 22px; font-weight : bold; color : #FF2F6E; margin-left : 8px; width : 1175px;">
            </span>
                    <form th:action="@{/review/list}" method="get">
                        <input name="category" th:if="${category}" th:value="${category}"
                               type="hidden">
                        <input name="contentsID" th:if="${contentsDTOS.movieCode}" th:value="${contentsDTOS.movieCode}"
                               type="hidden">
                        <input name="contentsID" th:if="${contentsDTOS.isbn}" th:value="${contentsDTOS.isbn}"
                               type="hidden">
                        <input name="contentsID" th:if="${contentsDTOS.dramaCode}" th:value="${contentsDTOS.dramaCode}"
                               type="hidden">
                        <input name="contentsID" th:if="${contentsDTOS.wetoonCode}"
                               th:value="${contentsDTOS.wetoonCode}"
                               type="hidden">
                        <button th:if="${#lists.size(reviewList)} > 12"><span
                                style="color : #FF2F6E; font-weight : bold;" th:text="더보기"></span></button>
                    </form>
                </div>
                <div class="review-co"
                     style="display : flex; flex-wrap : wrap; justify-content: space-evenly; margin-top : 30px;">
                    <div th:each="review : ${reviews}" style="height : 278px; display: grid; gap: 8px; width : 285px;">
                        <form th:action="@{/review/detail}" method="get"
                              style="background-color: rgb(242, 242, 242); box-sizing: border-box; padding: 15px 12px; border-radius: 6px; overflow: hidden;">
                            <button style="width : 100%;">
                                <div style="display :  flex;">
                                    <input name="category" th:value="${category}" type="hidden">
                                    <input name="contentsID" th:if="${contentsDTOS.movieCode}"
                                           th:value="${contentsDTOS.movieCode}"
                                           type="hidden">
                                    <input name="contentsID" th:if="${contentsDTOS.isbn}"
                                           th:value="${contentsDTOS.isbn}"
                                           type="hidden">
                                    <input name="contentsID" th:if="${contentsDTOS.dramaCode}"
                                           th:value="${contentsDTOS.dramaCode}"
                                           type="hidden">
                                    <input name="contentsID" th:if="${contentsDTOS.wetoonCode}"
                                           th:value="${contentsDTOS.wetoonCode}"
                                           type="hidden">
                                    <input name="reviewId" th:value="${review.id}" type="hidden">
                                    <img th:if="${review.member.profileImage}" th:src="${review.member.profileImage}"
                                         style="height : 33px; width : 33px; border-radius : 17px;">
                                    <span th:if="${review.member.nickname}" th:text="${review.member.nickname}"
                                          style="font-size : 16px; margin-left : 5px; width : 190px; padding : 3px;"></span>
                                    <span th:text="${ '⭐' + review.rating}"
                                          style="font-size : 16px; border : 2px solid rgba(0, 0, 0, 0.1); padding : 3px; border-radius : 12px; margin-left : 2px;"></span>
                                </div>
                                <div style="margin-top: 5px; overflow: hidden; border-top: 1px solid #DEE2E6; height : 165px;">
                                <span th:text="${#strings.length(review.comment) > 100 ? #strings.substring(review.comment, 0, 100) + '..' : review.comment}"
                                      style="position: relative; height: 120px; margin: 12px 0px 15px;"></span>
                                </div>
                                <div style="display: flex; -webkit-box-align: center; align-items: center; color: rgb(120, 120, 120); font-size: 14px; font-weight: 400; letter-spacing: -0.3px; line-height: 19px;
                            height: 44px; border-top: 1px solid rgb(229, 229, 229); border-bottom: 1px solid rgb(229, 229, 229); overflow: hidden;">
                                    <div style="display : flex;">
                                        <img th:if="${#lists.size(review.hearts) > 0}" src="/imgs/icon-like.png"
                                             style="width : 25px; height : 25px;">
                                        <img th:if="${#lists.size(review.hearts) == 0}" src="/imgs/icon-unlike.png"
                                             style="width : 25px; height : 25px;">
                                        <span class="number" th:text="${#lists.size(review.hearts)}"
                                              style="margin-left : 5px;"></span>
                                    </div>
                                    <div style="display : flex; margin-left : 20px;">
                                        <img src="/imgs/icon-chat.png" style="width : 25px; height : 25px;">
                                        <span class="number" th:text="${#lists.size(review.commentList)}"
                                              style="margin-left : 5px;"></span>
                                    </div>
                                </div>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>


    <!--        document.getElementById('urlForm').submit();-->
    <!--        sessionsStorage.setItem("currentPageUrl", url);-->

            $('.btn-show-popup-1').click(function() {
                $('html').addClass('popup-1-active');
            });


            $('.popup-box-1, .popup-box-1 > .popup > .head > .btn-close').click(function() {
                $('html').removeClass('popup-1-active');
            });


            $('.popup-box-1 > .popup').click(function(e) {
              e.stopPropagation();
            });


            var contentsID = document.getElementsByName('contentsID')[0].value;
            var category = '[[${category}]]';

            function updateRating(rating) {
                document.getElementById("Rating").innerText = "⭐" + rating;
                logincheck();
            }

            var swiper = new Swiper(".mySwiper", {
                scrollbar: {
                    el: ".swiper-scrollbar",
                    hide: true,
                },
            });


            function clickContentsHeart(button){
                var heartIcon = button.querySelector('.like-co');
                var innerSpan = heartIcon.querySelector('span');
                var classList = innerSpan.classList;
                var heartClick = true;
                var form = button.closest('.click_Contents_heart');
                let url = window.location.href;

                if (classList.contains('likeit')) {
                    heartClick = false;
                }

                if (form) {
                    form.method = "POST";
                    form.action = "/heart/" + '[[${category}]]' + "/" + contentsID +"/" + heartClick + "?url="+ url;
                    form.submit();
                } else {
                    console.error("Form element is null");
                }
            }

            function clickContentsHeart_Unclogging(){
                 var url = window.location.href;
                document.getElementById('currentPageUrl').value = url;
                $('html').addClass('popup-1-active');
            }

            function loginError(){
               errMsg('로그인 후 이용해주세요.');
           }

    </script>
</div>
</body>
</html>