<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav th:fragment="commentLayout">
    <div class="comment_modal">
        <button class="writing-co" id="comment_popup_open_btn" onclick="logincheck();">
            <img class="writing" src="/imgs/writing.png"
                 style="width : 40px; height : 40px; margin-left : 7px;">
            <p style="margin-top : 18px;" class="id=btn-modal">코멘트</p>
        </button>
        <div id="comment_modal" style="display: none; border-radius : 12px 0px 0px 0px;">
            <div class="modal-window">
                <div style="display : flex;">
                    <div id="Rating"></div>
                    <span id="charCount" style="margin-left : auto;"></span>
                    <button class="modal_close_btn" style="color : red;">X</button>
                </div>
                <div style="display : flex; align-items : center;">
                    <span id="title" th:text="${contentsDTOS.title}" style="text-align : center; font-weight: bold; color: black; white-space: pre-line; margin-top : 2px;"></span>
                    <button class="btn-close"></button>
                </div>
                <form class="comment_area" id="comment_area" name="comment_area"
                      style="display: flex; flex-direction: column;">
                     <textarea class="body"
                               style="height : 340px; margin-top : 10px;margin-bottom : 5px; background : white;"
                               oninput="updateCharacterCount()"> </textarea>
                    <input class="movieCD" th:if="${contentsDTOS.movieCode}"  th:value="${contentsDTOS.movieCode}" type="hidden">
                    <input class="isbn" th:if="${contentsDTOS.isbn}"  th:value="${contentsDTOS.isbn}" type="hidden">
                    <input class="dramaCode" th:if="${contentsDTOS.dramaCode}"  th:value="${contentsDTOS.dramaCode}" type="hidden">
                    <input class="wetoonCode" th:if="${contentsDTOS.wetoonCode}"  th:value="${contentsDTOS.wetoonCode}" type="hidden">
                </form>
                <div style="margin-left : 74%; display : flex;">
                    <button onclick="saveComment();"><input title="Button push orange" class="button btnPush btnOrange" th:value="저장" style="letter-spacing : 0.2em; cursor : pointer;"></button>
                </div>
            </div>
        </div>
        <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script>

            var login_check = [[${login}]] == true ? true : false;


            function errMsg(title){
                Swal.fire({
                            icon: 'warning',
                            title: title,
                        });
            }

            function logincheck() {
                if (login_check == false) {
                    errMsg('로그인 후 이용해주세요.');
                    return false;
                } else {
                    if(document.getElementById("Rating").innerText == ""){
                        errMsg('별점 선택 후 이용해주세요.');
                        return false;
                    }
                    modal('comment_modal');
                    calculateRemainingCoins();
                    $('textarea.body').focus();
                    adjustFontSize();
                }
            }

            function saveComment() {
                var commentValue = $('textarea.body').val();
                var movieCD = $('input.movieCD').val();
                var isbn = $('input.isbn').val();
                var dramaId = $('input.dramaCode').val();
                var webtoonId = $('input.wetoonCode').val();

                var rating = document.getElementById("Rating").innerText.replace("⭐", "");
                if (rating == "") {
                    Swal.fire({
                            icon: 'warning',
                            title: '별점을 선택해주세요.',
                        });
                    return false;
                }
                if(movieCD != null){
                    window.location.href = '/review/create/movie?movieCD=' + movieCD + '&comment=' + commentValue + '&rating=' + rating;
                } else if(isbn != null){
                    window.location.href = '/review/create/book?isbn=' + isbn + '&comment=' + commentValue + '&rating=' + rating;
                } else if(dramaId != null){
                    window.location.href = '/review/create/drama?dramaId=' + dramaId + '&comment=' + commentValue + '&rating=' + rating;
                } else if(webtoonId != null){
                    window.location.href = '/review/create/webtoon?webtoonId=' + webtoonId + '&comment=' + commentValue + '&rating=' + rating;
                }
            }

            function updateCharacterCount() {
                var charCount = $('textarea.body').val().length;

                var maxChar = 1000;

                var remainingChar = maxChar - charCount;

                $('#charCount').text('('+ remainingChar + ' / ' + 1000 + ')');
            }

            var bg = document.createElement('div');
            var form = document.querySelector('#comment_area');

            function adjustFontSize() {
            const titleElement = document.getElementById("title");

                if (titleElement) {
                    const containerWidth = 345;
                    const containerHeight = 50;
                    let fontSize = 16;

                    titleElement.style.fontSize = fontSize + "px";
                    titleElement.style.lineHeight = "1.2";

                    if (titleElement.offsetHeight > containerHeight) {
                        titleElement.style.whiteSpace = "pre-line";
                        titleElement.style.height = "auto";
                    }

                    while (titleElement.offsetHeight > containerHeight) {
                        fontSize--;
                        titleElement.style.fontSize = fontSize + "px";
                    }
                }
           }

        //////////////////////////////////////////// 모달창 /////////////////////////////////////////////

         function modal(id) {
            var zIndex = 9999;
            var modal = document.getElementById(id);

            bg.setStyle({
                position: 'fixed',
                zIndex: zIndex,
                left: '0px',
                top: '0px',
                width: '100%',
                height: '100%',
                overflow: 'auto',
                backgroundColor: 'rgba(0,0,0,0.4)'
            });
            document.body.append(bg);

            originalModalContent = modal.innerHTML;

            modal.querySelector('.modal_close_btn').addEventListener('click', function() {
                bg.remove();
                modal.innerHTML = originalModalContent;
                modal.style.display = 'none';
            });

            modal.setStyle({
                position: 'fixed',
                display: 'block',
                boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',
                zIndex: zIndex + 1,
                top: '50%',
                left: '50%',
                height : '500px',
                width : '390px',
                background : 'white',
                padding : '10px',
                transform: 'translate(-50%, -50%)',
                msTransform: 'translate(-50%, -50%)',
                webkitTransform: 'translate(-50%, -50%)'
            });
         }

         Element.prototype.setStyle = function(styles) {
            for (var k in styles) this.style[k] = styles[k];
            return this;
         };

         var popup = document.getElementById('comment_popup_open_btn');
         //////////////////////////////////////////////////////////////////////////////////////////
        </script>
    </div>
</nav>
</body>
</html>